In [2]:
import pandas as pd
import numpy as np

In [3]:
batter_2016 = pd.read_csv('dataset_wrangled/2016_개인타자.csv', encoding='utf-8')
pitcher_2016 = pd.read_csv('dataset_wrangled/2016_개인투수.csv', encoding='utf-8')
game_2016 = pd.read_csv('dataset_wrangled/2016_경기.csv', encoding='utf-8')
player_2016 = pd.read_csv('dataset_wrangled/2016_선수.csv', encoding='utf-8')

In [4]:
team = player_2016[player_2016['팀코드'] == 'LG']
team_p, team_b = team[team['포지션'] == '투'], team[team['포지션'] != '투']

In [5]:
b_list = team_b['선수명'].tolist()
p_list = team_p['선수명'].tolist()

# Batter

In [131]:
batters_by_game = batter_2016[batter_2016['팀코드'] == 'LG']
batters_by_game.reset_index(inplace=True, drop=True)
batters_by_game

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,선수명,선발,타순,타자,...,4구,고의4구,사구,삼진,병살타,실책,잔루,득점권타율,득점권타수,득점권안타
0,20160401HHLG0,2016-04-01,LG,HH,0,B,유강남,1,8,3,...,0,0,0,2,0,0,0,0.0,0,0
1,20160401HHLG0,2016-04-01,LG,HH,0,B,이천웅,1,7,4,...,0,0,0,1,0,0,0,1.0,1,1
2,20160401HHLG0,2016-04-01,LG,HH,0,B,서상우,0,9,1,...,1,0,0,0,0,0,0,0.0,0,0
3,20160401HHLG0,2016-04-01,LG,HH,0,B,황목치승,0,2,0,...,0,0,0,0,0,0,0,0.0,0,0
4,20160401HHLG0,2016-04-01,LG,HH,0,B,강승호,1,9,3,...,1,0,0,1,0,0,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1931,20161008OBLG0,2016-10-08,LG,OB,0,B,문선재,0,3,1,...,1,0,0,0,0,0,0,0.0,0,0
1932,20161008OBLG0,2016-10-08,LG,OB,0,B,채은성,0,4,1,...,0,0,0,0,1,0,0,0.0,0,0
1933,20161008OBLG0,2016-10-08,LG,OB,0,B,윤진호,0,8,1,...,0,0,0,0,0,1,0,0.0,0,0
1934,20161008OBLG0,2016-10-08,LG,OB,0,B,이병규,0,8,1,...,0,0,0,0,0,0,1,1.0,1,1
1935,20161008OBLG0,2016-10-08,LG,OB,0,B,정성훈,1,3,3,...,0,0,0,1,0,0,0,0.0,1,0

In [132]:
game_keys = batters_by_game['게임키'].unique().tolist()
game_keys

['20160401HHLG0',
 '20160402HHLG0',
 '20160405LGHT0',
 '20160407LGHT0',
 '20160408LGSK0',
 '20160409LGSK0',
 '20160410LGSK0',
 '20160412LTLG0',
 '20160413LTLG0',
 '20160414LTLG0',
 '20160415LGHH0',
 '20160417LGHH0',
 '20160419NCLG0',
 '20160420NCLG0',
 '20160421NCLG0',
 '20160422LGWO0',
 '20160423LGWO0',
 '20160424LGWO0',
 '20160426LGSS0',
 '20160428LGSS0',
 '20160429KTLG0',
 '20160430KTLG0',
 '20160501KTLG0',
 '20160504OBLG0',
 '20160505OBLG0',
 '20160506LGNC0',
 '20160507LGNC0',
 '20160508LGNC0',
 '20160510SSLG0',
 '20160511SSLG0',
 '20160512SSLG0',
 '20160513SKLG0',
 '20160514SKLG0',
 '20160517LGKT0',
 '20160518LGKT0',
 '20160519LGKT0',
 '20160520WOLG0',
 '20160521WOLG0',
 '20160522WOLG0',
 '20160525LGLT0',
 '20160526LGLT0',
 '20160527LGOB0',
 '20160528LGOB0',
 '20160529LGOB0',
 '20160531HTLG0',
 '20160601HTLG0',
 '20160602HTLG0',
 '20160603LGKT0',
 '20160604LGKT0',
 '20160605LGKT0',
 '20160607SSLG0',
 '20160608SSLG0',
 '20160609SSLG0',
 '20160610LGHH0',
 '20160611LGHH0',
 '20160612LGHH0',
 '20160614NCLG0',
 '20160616NCLG0',
 '20160617HTLG0',
 '20160618HTLG0',
 '20160619HTLG0',
 '20160621LGSK0',
 '20160622LGSK0',
 '20160623LGSK0',
 '20160624WOLG0',
 '20160625WOLG0',
 '20160626WOLG0',
 '20160628LGHT0',
 '20160629LGHT0',
 '20160630LGHT0',
 '20160702SKLG0',
 '20160703SKLG0',
 '20160705LGSS0',
 '20160707LGSS0',
 '20160708LGLT0',
 '20160709LGLT0',
 '20160710LGLT0',
 '20160712HHLG0',
 '20160713HHLG0',
 '20160714HHLG0',
 '20160719LGWO0',
 '20160720LGWO0',
 '20160721LGWO0',
 '20160722OBLG0',
 '20160723OBLG0',
 '20160724OBLG0',
 '20160726LTLG0',
 '20160727LTLG0',
 '20160728LTLG0',
 '20160729LGNC0',
 '20160730LGNC0',
 '20160731LGNC0',
 '20160802LGOB0',
 '20160803LGOB0',
 '20160804LGOB0',
 '20160805KTLG0',
 '20160806KTLG0',
 '20160807KTLG0',
 '20160809LGSK0',
 '20160810LGSK0',
 '20160811NCLG0',
 '20160812NCLG0',
 '20160813LGSS0',
 '20160814LGSS0',
 '20160816SKLG0',
 '20160817SKLG0',
 '20160818HHLG0',
 '20160819HHLG0',
 '20160820LGHT0',
 '20160821LGHT0',
 '20160823LGOB0',
 '20160824LGOB0',
 '20160825LGWO0',
 '20160826LGWO0',
 '20160827KTLG0',
 '20160828KTLG0',
 '20160830LGLT0',
 '20160831LGLT0',
 '20160901LGHH0',
 '20160902LGHH0',
 '20160903LGKT0',
 '20160904LGKT0',
 '20160906WOLG0',
 '20160907WOLG0',
 '20160908OBLG0',
 '20160909OBLG0',
 '20160910LTLG0',
 '20160911LTLG0',
 '20160913LGNC0',
 '20160914LGNC0',
 '20160915HTLG0',
 '20160916HTLG0',
 '20160917SSLG0',
 '20160918SSLG0',
 '20160920LGHH0',
 '20160921NCLG0',
 '20160924HHLG0',
 '20160927LGHT0',
 '20160930SKLG0',
 '20161001SKLG0',
 '20161003LGSS0',
 '20161004LGSS0',
 '20161006LGLT0',
 '20161008OBLG0']

In [133]:
game_days = []
for key in game_keys:
    idx = batters_by_game[batters_by_game['게임키']==key].index.tolist()[0]
    date = batters_by_game.loc[idx]['일자']
    game_days.append(date)

In [134]:
game_days

['2016-04-01',
 '2016-04-02',
 '2016-04-05',
 '2016-04-07',
 '2016-04-08',
 '2016-04-09',
 '2016-04-10',
 '2016-04-12',
 '2016-04-13',
 '2016-04-14',
 '2016-04-15',
 '2016-04-17',
 '2016-04-19',
 '2016-04-20',
 '2016-04-21',
 '2016-04-22',
 '2016-04-23',
 '2016-04-24',
 '2016-04-26',
 '2016-04-28',
 '2016-04-29',
 '2016-04-30',
 '2016-05-01',
 '2016-05-04',
 '2016-05-05',
 '2016-05-06',
 '2016-05-07',
 '2016-05-08',
 '2016-05-10',
 '2016-05-11',
 '2016-05-12',
 '2016-05-13',
 '2016-05-14',
 '2016-05-17',
 '2016-05-18',
 '2016-05-19',
 '2016-05-20',
 '2016-05-21',
 '2016-05-22',
 '2016-05-25',
 '2016-05-26',
 '2016-05-27',
 '2016-05-28',
 '2016-05-29',
 '2016-05-31',
 '2016-06-01',
 '2016-06-02',
 '2016-06-03',
 '2016-06-04',
 '2016-06-05',
 '2016-06-07',
 '2016-06-08',
 '2016-06-09',
 '2016-06-10',
 '2016-06-11',
 '2016-06-12',
 '2016-06-14',
 '2016-06-16',
 '2016-06-17',
 '2016-06-18',
 '2016-06-19',
 '2016-06-21',
 '2016-06-22',
 '2016-06-23',
 '2016-06-24',
 '2016-06-25',
 '2016-06-26',
 '2016-06-28',
 '2016-06-29',
 '2016-06-30',
 '2016-07-02',
 '2016-07-03',
 '2016-07-05',
 '2016-07-07',
 '2016-07-08',
 '2016-07-09',
 '2016-07-10',
 '2016-07-12',
 '2016-07-13',
 '2016-07-14',
 '2016-07-19',
 '2016-07-20',
 '2016-07-21',
 '2016-07-22',
 '2016-07-23',
 '2016-07-24',
 '2016-07-26',
 '2016-07-27',
 '2016-07-28',
 '2016-07-29',
 '2016-07-30',
 '2016-07-31',
 '2016-08-02',
 '2016-08-03',
 '2016-08-04',
 '2016-08-05',
 '2016-08-06',
 '2016-08-07',
 '2016-08-09',
 '2016-08-10',
 '2016-08-11',
 '2016-08-12',
 '2016-08-13',
 '2016-08-14',
 '2016-08-16',
 '2016-08-17',
 '2016-08-18',
 '2016-08-19',
 '2016-08-20',
 '2016-08-21',
 '2016-08-23',
 '2016-08-24',
 '2016-08-25',
 '2016-08-26',
 '2016-08-27',
 '2016-08-28',
 '2016-08-30',
 '2016-08-31',
 '2016-09-01',
 '2016-09-02',
 '2016-09-03',
 '2016-09-04',
 '2016-09-06',
 '2016-09-07',
 '2016-09-08',
 '2016-09-09',
 '2016-09-10',
 '2016-09-11',
 '2016-09-13',
 '2016-09-14',
 '2016-09-15',
 '2016-09-16',
 '2016-09-17',
 '2016-09-18',
 '2016-09-20',
 '2016-09-21',
 '2016-09-24',
 '2016-09-27',
 '2016-09-30',
 '2016-10-01',
 '2016-10-03',
 '2016-10-04',
 '2016-10-06',
 '2016-10-08']

In [67]:
batters_by_game[batters_by_game['게임키']=='20160929SSNC1'].index.tolist()[0]

1783

In [73]:
batters_by_game.loc[1785]

게임키       20160929SSNC1
일자           2016-09-29
팀코드                  NC
상대팀코드                SS
더블헤더코드                1
초말                    B
선수명                 나성범
선발                    1
타순                    3
타자                    3
타수                    3
타점                    0
득점                    0
안타                    0
2루타                   0
3루타                   0
홈런                    0
도루                    0
도루실패                  0
희타                    0
희비                    0
4구                    0
고의4구                  0
사구                    0
삼진                    2
병살타                   0
실책                    0
잔루                    0
득점권타율                 0
득점권타수                 2
득점권안타                 0
Name: 1785, dtype: object

In [135]:
def get_player_stat(player):
    print(player)
    player_games = batters_by_game[batters_by_game['선수명'] == player]
    player_games.reset_index(inplace=True, drop=True)
    stats = []
    for key in game_keys:
        if key in player_games['게임키'].values:
            idx = player_games[player_games['게임키']==key].index.tolist()[0]
            if idx == 0:
                result = []
                result.append(player_games.loc[idx]['선발'])
                result.append(player_games.loc[idx]['타순'])
                result += [0 for i in range(6)]
                stats.append(result)
            else:
                past = player_games.loc[:idx-1]
                hit_rate = past['안타'].sum() / past['타수'].sum()
                oba = (past['안타'].sum()+past['4구'].sum()+past['고의4구'].sum()+past['사구'].sum())/(past['타수'].sum()+past['4구'].sum()+past['고의4구'].sum()+past['사구'].sum()+past['희비'].sum())
                slg = (past['안타'].sum()+past['2루타'].sum()+2*past['3루타'].sum()+3*past['홈런'].sum())/past['타수'].sum()
                d_hit_rate = past['득점권안타'].sum() / past['득점권타수'].sum()
                d_per_b = past['득점'].sum()/past['타수'].sum()
                t_per_b = past['타점'].sum()/past['타수'].sum()
                result = []
                result.append(player_games.loc[idx]['선발'])
                result.append(player_games.loc[idx]['타순'])
                result += [hit_rate, oba, slg, d_hit_rate, d_per_b, t_per_b]
                for i in range(len(result)):
                    if result[i] != result[i]:
                        result[i] = 0.0
                stats.append(result)
        else:
            if len(stats) == 0:
                stats.append([0, -1, 0, 0, 0, 0, 0, 0])
            else:
                same = stats[-1].copy()
                same[0] = 0
                same[1] = -1
                stats.append(same)
    return stats

In [136]:
team_batter_stats = pd.DataFrame()
team_batter_stats['date'] = game_days
team_batter_stats['game_key'] = game_keys


for player in b_list:
    p_stats = get_player_stat(player)
    print(len(p_stats))
    team_batter_stats[player] = p_stats

백창수
144
유강남
144
강병의
144
김재율
144
이천웅
144
이민재
144
김지성
144
조윤준
144
서상우
144

<ipython-input-135-3d454bc6d38c>:20: RuntimeWarning: invalid value encountered in long_scalars
  d_hit_rate = past['득점권안타'].sum() / past['득점권타수'].sum()
<ipython-input-135-3d454bc6d38c>:17: RuntimeWarning: invalid value encountered in long_scalars
  hit_rate = past['안타'].sum() / past['타수'].sum()
<ipython-input-135-3d454bc6d38c>:19: RuntimeWarning: invalid value encountered in long_scalars
  slg = (past['안타'].sum()+past['2루타'].sum()+2*past['3루타'].sum()+3*past['홈런'].sum())/past['타수'].sum()
<ipython-input-135-3d454bc6d38c>:21: RuntimeWarning: invalid value encountered in long_scalars
  d_per_b = past['득점'].sum()/past['타수'].sum()
<ipython-input-135-3d454bc6d38c>:22: RuntimeWarning: invalid value encountered in long_scalars
  t_per_b = past['타점'].sum()/past['타수'].sum()

윤여운
144
황목치승
144
강승호
144
박재욱
144
장준원
144
양석환
144
히메네스
144
안익훈
144
박성준
144
홍창기
144

<ipython-input-135-3d454bc6d38c>:18: RuntimeWarning: invalid value encountered in long_scalars
  oba = (past['안타'].sum()+past['4구'].sum()+past['고의4구'].sum()+past['사구'].sum())/(past['타수'].sum()+past['4구'].sum()+past['고의4구'].sum()+past['사구'].sum()+past['희비'].sum())

김주성
144
정상호
144
박용택
144
손주인
144
최경철
144
임훈
144
이병규
144
이형종
144
김용의
144
오지환
144
문선재
144
정주현
144
채은성
144
윤진호
144
이병규
144

<ipython-input-135-3d454bc6d38c>:21: RuntimeWarning: divide by zero encountered in long_scalars
  d_per_b = past['득점'].sum()/past['타수'].sum()

정성훈
144

In [137]:
team_batter_stats.tail()

,date,game_key,백창수,유강남,강병의,김재율,이천웅,이민재,김지성,조윤준,...,임훈,이병규,이형종,김용의,오지환,문선재,정주현,채은성,윤진호,정성훈
139,2016-10-01,20161001SKLG0,"[0, -1, 0.3333333333333333, 0.4444444444444444...","[1, 8, 0.26848249027237353, 0.3192982456140351...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0, 0, 0, 0, 0, 0]","[1, 2, 0.2894736842105263, 0.3708609271523179,...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0, -1, 0, 0, 0, 0, 0, 0]",...,"[0, -1, 0.26256983240223464, 0.316062176165803...","[1, 5, 0.2762237762237762, 0.39244186046511625...","[0, 5, 0.288135593220339, 0.375, 0.38135593220...","[1, 1, 0.3253424657534247, 0.39384615384615385...","[1, 6, 0.2770448548812665, 0.3827433628318584,...","[0, 2, 0.2912621359223301, 0.3333333333333333,...","[0, -1, 0.22321428571428573, 0.307086614173228...","[0, -1, 0.3163265306122449, 0.3669724770642202...","[0, -1, 0.2222222222222222, 0.2222222222222222...","[1, 7, 0.325068870523416, 0.3866995073891626, ..."
140,2016-10-03,20161003LGSS0,"[0, -1, 0.3333333333333333, 0.4444444444444444...","[1, 8, 0.26744186046511625, 0.3205574912891986...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0, 0, 0, 0, 0, 0]","[0, 7, 0.2873134328358209, 0.3684210526315789,...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0, -1, 0, 0, 0, 0, 0, 0]",...,"[0, -1, 0.26256983240223464, 0.316062176165803...","[0, 9, 0.2762237762237762, 0.39420289855072466...","[1, 7, 0.2833333333333333, 0.3695652173913043,...","[1, 1, 0.3277027027027027, 0.3951367781155015,...","[1, 5, 0.2774869109947644, 0.3824175824175824,...","[1, 2, 0.28846153846153844, 0.336283185840708,...","[0, -1, 0.22321428571428573, 0.307086614173228...","[0, 9, 0.3189873417721519, 0.3690205011389522,...","[0, 9, 0.21052631578947367, 0.2105263157894736...","[0, 9, 0.3224043715846995, 0.38386308068459657..."
141,2016-10-04,20161004LGSS0,"[0, -1, 0.3333333333333333, 0.4444444444444444...","[0, 8, 0.26717557251908397, 0.3195876288659793...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0, 0, 0, 0, 0, 0]","[0, 2, 0.2899628252788104, 0.3704918032786885,...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0, 1, 0, 0, 0, 0, 0, 0]",...,"[0, -1, 0.26256983240223464, 0.316062176165803...","[0, 8, 0.2762237762237762, 0.39420289855072466...","[0, -1, 0.2833333333333333, 0.3695652173913043...","[1, 1, 0.32666666666666666, 0.3933933933933934...","[1, 6, 0.27979274611398963, 0.3847826086956522...","[1, 2, 0.29357798165137616, 0.3389830508474576...","[0, -1, 0.22321428571428573, 0.307086614173228...","[1, 5, 0.3189873417721519, 0.3704545454545455,...","[0, 8, 0.2, 0.2, 0.2, 0.0, 0.15, 0.0]","[0, 9, 0.3224043715846995, 0.3829268292682927,..."
142,2016-10-06,20161006LGLT0,"[0, -1, 0.3333333333333333, 0.4444444444444444...","[0, -1, 0.26717557251908397, 0.319587628865979...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0, 0, 0, 0, 0, 0]","[1, 2, 0.2952029520295203, 0.3745928338762215,...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0, -1, 0, 0, 0, 0, 0, 0]",...,"[0, -1, 0.26256983240223464, 0.316062176165803...","[0, 1, 0.2743055555555556, 0.3919308357348703,...","[0, 6, 0.2845528455284553, 0.36879432624113473...","[1, 1, 0.32450331125827814, 0.3928571428571428...","[1, 5, 0.2802056555269923, 0.3857758620689655,...","[0, 2, 0.2882882882882883, 0.3333333333333333,...","[0, -1, 0.22321428571428573, 0.307086614173228...","[1, 6, 0.3157894736842105, 0.36711711711711714...","[0, -1, 0.2, 0.2, 0.2, 0.0, 0.15, 0.0]","[0, -1, 0.3224043715846995, 0.3829268292682927..."
143,2016-10-08,20161008OBLG0,"[0, -1, 0.3333333333333333, 0.4444444444444444...","[1, 7, 0.26717557251908397, 0.3195876288659793...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0, 0, 0, 0, 0, 0]","[1, 2, 0.2967032967032967, 0.37942122186495175...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0, 7, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0]",...,"[0, -1, 0.26256983240223464, 0.316062176165803...","[1, 6, 0.27335640138408307, 0.3908045977011494...","[0, 2, 0.2845528455284553, 0.36879432624113473...","[1, 1, 0.32131147540983607, 0.3893805309734513...","[0, 7, 0.28061224489795916, 0.3880597014925373...","[0, 3, 0.2882882882882883, 0.33884297520661155...","[0, -1, 0.22321428571428573, 0.307086614173228...","[0, 4, 0.31343283582089554, 0.3660714285714285...","[0, 8, 0.2, 0.2, 0.2, 0.0, 0.15, 0.0]","[1, 3, 0.3215258855585831, 0.3819951338199513,..."

In [138]:
team_batter_stats.to_csv('data_processed/2016/2016_LG_b.csv')

# Pitcher

In [116]:
team = player_2016[player_2016['팀코드'] == 'HH']
team_p, team_b = team[team['포지션'] == '투'], team[team['포지션'] != '투']

In [117]:
b_list = team_b['선수명'].tolist()
p_list = team_p['선수명'].tolist()

In [118]:
pitchers_by_game = pitcher_2016[pitcher_2016['팀코드'] == 'HH']
pitchers_by_game.reset_index(inplace=True, drop=True)
pitchers_by_game

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,선수명,선발,구원,완투,...,삼진,병살타,폭투,보크,실책,실점,자책점,득점권WHIP,2점차이하WHIP,345번타자WHIP
0,20160401HHLG0,2016-04-01,HH,LG,0,T,김민우,0,1,0,...,1,0,0,0,0,1,1,0.00,1.50,0.0
1,20160401HHLG0,2016-04-01,HH,LG,0,T,권혁,0,1,0,...,2,0,0,0,0,0,0,0.00,0.50,1.5
2,20160401HHLG0,2016-04-01,HH,LG,0,T,송은범,1,0,0,...,4,0,0,0,0,3,3,1.50,1.50,1.5
3,20160401HHLG0,2016-04-01,HH,LG,0,T,송창식,0,1,0,...,1,0,0,0,0,1,0,0.00,6.00,0.0
4,20160401HHLG0,2016-04-01,HH,LG,0,T,정우람,0,1,0,...,2,0,0,0,0,0,0,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,20161008HTHH0,2016-10-08,HH,HT,0,B,서캠프,0,1,0,...,0,0,0,0,0,0,0,0.75,0.00,0.0
676,20161008HTHH0,2016-10-08,HH,HT,0,B,심수창,0,1,0,...,2,0,0,0,0,0,0,0.00,0.00,0.0
677,20161008HTHH0,2016-10-08,HH,HT,0,B,정우람,0,1,0,...,3,0,0,0,0,0,0,0.00,0.00,0.0
678,20161008HTHH0,2016-10-08,HH,HT,0,B,장민재,1,0,0,...,2,0,1,0,0,4,4,2.00,3.75,2.0
679,20161008HTHH0,2016-10-08,HH,HT,0,B,박정진,0,1,0,...,0,0,0,0,0,1,1,0.00,0.00,6.0

In [119]:
game_keys = pitchers_by_game['게임키'].unique().tolist()
game_keys

['20160401HHLG0',
 '20160402HHLG0',
 '20160405WOHH0',
 '20160406WOHH0',
 '20160407WOHH0',
 '20160408HHNC0',
 '20160409HHNC0',
 '20160410HHNC0',
 '20160412OBHH0',
 '20160413OBHH0',
 '20160414OBHH0',
 '20160415LGHH0',
 '20160417LGHH0',
 '20160419HHLT0',
 '20160420HHLT0',
 '20160421HHLT0',
 '20160422HHOB0',
 '20160423HHOB0',
 '20160424HHOB0',
 '20160426HTHH0',
 '20160428HTHH0',
 '20160429SSHH0',
 '20160430SSHH0',
 '20160501SSHH0',
 '20160503HHSK0',
 '20160504HHSK0',
 '20160505HHSK0',
 '20160506HHKT0',
 '20160507HHKT0',
 '20160508HHKT0',
 '20160511NCHH0',
 '20160512NCHH0',
 '20160513HHHT0',
 '20160514HHHT0',
 '20160515HHHT0',
 '20160517HHSS0',
 '20160518HHSS0',
 '20160519HHSS0',
 '20160520KTHH0',
 '20160521KTHH0',
 '20160522KTHH0',
 '20160524HHWO0',
 '20160525HHWO0',
 '20160526HHWO0',
 '20160527LTHH0',
 '20160528LTHH0',
 '20160529LTHH0',
 '20160531SKHH0',
 '20160601SKHH0',
 '20160602SKHH0',
 '20160603HHSS0',
 '20160604HHSS0',
 '20160605HHSS0',
 '20160607HTHH0',
 '20160608HTHH0',
 '20160609HTHH0',
 '20160610LGHH0',
 '20160611LGHH0',
 '20160612LGHH0',
 '20160614HHKT0',
 '20160616HHKT0',
 '20160617WOHH0',
 '20160618WOHH0',
 '20160619WOHH0',
 '20160621HHNC0',
 '20160623HHNC0',
 '20160624LTHH0',
 '20160625LTHH0',
 '20160626LTHH0',
 '20160628HHWO0',
 '20160629HHWO0',
 '20160630HHWO0',
 '20160702OBHH0',
 '20160706HHSK0',
 '20160707HHSK0',
 '20160708SSHH0',
 '20160709SSHH0',
 '20160710SSHH0',
 '20160712HHLG0',
 '20160713HHLG0',
 '20160714HHLG0',
 '20160719KTHH0',
 '20160720KTHH0',
 '20160721KTHH0',
 '20160722HHLT0',
 '20160723HHLT0',
 '20160724HHLT0',
 '20160726SKHH0',
 '20160727SKHH0',
 '20160728SKHH0',
 '20160729HHOB0',
 '20160730HHOB0',
 '20160731HHOB0',
 '20160802HHHT0',
 '20160803HHHT0',
 '20160804HHHT0',
 '20160805NCHH0',
 '20160806NCHH0',
 '20160807NCHH0',
 '20160809SSHH0',
 '20160810SSHH0',
 '20160811HHLT0',
 '20160812HHLT0',
 '20160813HHHT0',
 '20160814HHHT0',
 '20160816OBHH0',
 '20160817OBHH0',
 '20160818HHLG0',
 '20160819HHLG0',
 '20160820HHKT0',
 '20160821HHKT0',
 '20160824WOHH0',
 '20160825NCHH0',
 '20160826NCHH0',
 '20160827HHSK0',
 '20160828HHSK0',
 '20160830HHOB0',
 '20160901LGHH0',
 '20160902LGHH0',
 '20160903HHWO0',
 '20160904HHWO0',
 '20160906HHNC0',
 '20160907HHNC0',
 '20160908KTHH0',
 '20160909KTHH0',
 '20160910SKHH0',
 '20160911SKHH0',
 '20160913HHSS0',
 '20160914HHSS0',
 '20160915LTHH0',
 '20160916LTHH0',
 '20160918HTHH0',
 '20160919HTHH0',
 '20160920LGHH0',
 '20160922NCHH0',
 '20160924HHLG0',
 '20160925HHSK0',
 '20160927OBHH0',
 '20160928OBHH0',
 '20160930HHNC0',
 '20161002WOHH0',
 '20161003HHOB0',
 '20161005HHKT0',
 '20161008HTHH0']

In [120]:
game_days = []
for key in game_keys:
    idx = pitchers_by_game[pitchers_by_game['게임키']==key].index.tolist()[0]
    date = pitchers_by_game.loc[idx]['일자']
    game_days.append(date)
game_days

['2016-04-01',
 '2016-04-02',
 '2016-04-05',
 '2016-04-06',
 '2016-04-07',
 '2016-04-08',
 '2016-04-09',
 '2016-04-10',
 '2016-04-12',
 '2016-04-13',
 '2016-04-14',
 '2016-04-15',
 '2016-04-17',
 '2016-04-19',
 '2016-04-20',
 '2016-04-21',
 '2016-04-22',
 '2016-04-23',
 '2016-04-24',
 '2016-04-26',
 '2016-04-28',
 '2016-04-29',
 '2016-04-30',
 '2016-05-01',
 '2016-05-03',
 '2016-05-04',
 '2016-05-05',
 '2016-05-06',
 '2016-05-07',
 '2016-05-08',
 '2016-05-11',
 '2016-05-12',
 '2016-05-13',
 '2016-05-14',
 '2016-05-15',
 '2016-05-17',
 '2016-05-18',
 '2016-05-19',
 '2016-05-20',
 '2016-05-21',
 '2016-05-22',
 '2016-05-24',
 '2016-05-25',
 '2016-05-26',
 '2016-05-27',
 '2016-05-28',
 '2016-05-29',
 '2016-05-31',
 '2016-06-01',
 '2016-06-02',
 '2016-06-03',
 '2016-06-04',
 '2016-06-05',
 '2016-06-07',
 '2016-06-08',
 '2016-06-09',
 '2016-06-10',
 '2016-06-11',
 '2016-06-12',
 '2016-06-14',
 '2016-06-16',
 '2016-06-17',
 '2016-06-18',
 '2016-06-19',
 '2016-06-21',
 '2016-06-23',
 '2016-06-24',
 '2016-06-25',
 '2016-06-26',
 '2016-06-28',
 '2016-06-29',
 '2016-06-30',
 '2016-07-02',
 '2016-07-06',
 '2016-07-07',
 '2016-07-08',
 '2016-07-09',
 '2016-07-10',
 '2016-07-12',
 '2016-07-13',
 '2016-07-14',
 '2016-07-19',
 '2016-07-20',
 '2016-07-21',
 '2016-07-22',
 '2016-07-23',
 '2016-07-24',
 '2016-07-26',
 '2016-07-27',
 '2016-07-28',
 '2016-07-29',
 '2016-07-30',
 '2016-07-31',
 '2016-08-02',
 '2016-08-03',
 '2016-08-04',
 '2016-08-05',
 '2016-08-06',
 '2016-08-07',
 '2016-08-09',
 '2016-08-10',
 '2016-08-11',
 '2016-08-12',
 '2016-08-13',
 '2016-08-14',
 '2016-08-16',
 '2016-08-17',
 '2016-08-18',
 '2016-08-19',
 '2016-08-20',
 '2016-08-21',
 '2016-08-24',
 '2016-08-25',
 '2016-08-26',
 '2016-08-27',
 '2016-08-28',
 '2016-08-30',
 '2016-09-01',
 '2016-09-02',
 '2016-09-03',
 '2016-09-04',
 '2016-09-06',
 '2016-09-07',
 '2016-09-08',
 '2016-09-09',
 '2016-09-10',
 '2016-09-11',
 '2016-09-13',
 '2016-09-14',
 '2016-09-15',
 '2016-09-16',
 '2016-09-18',
 '2016-09-19',
 '2016-09-20',
 '2016-09-22',
 '2016-09-24',
 '2016-09-25',
 '2016-09-27',
 '2016-09-28',
 '2016-09-30',
 '2016-10-02',
 '2016-10-03',
 '2016-10-05',
 '2016-10-08']

In [121]:
pitchers_by_game.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '선수명', '선발', '구원', '완투',
       '종료', '결과', '홀드', '이닝*3', '투구 수', '타자', '타수', '안타', '2루타', '3루타', '홈런',
       '도루', '도루실패', '희타', '희비', '4구', '고4', '사구', '삼진', '병살타', '폭투', '보크',
       '실책', '실점', '자책점', '득점권WHIP', '2점차이하WHIP', '345번타자WHIP'],
      dtype='object')

In [122]:
def get_pitcher_stat(player):
    print(player)
    player_games = pitchers_by_game[pitchers_by_game['선수명'] == player]
    player_games.reset_index(inplace=True, drop=True)
    stats = []
    for key in game_keys:
        if key in player_games['게임키'].values:
            idx = player_games[player_games['게임키']==key].index.tolist()[0]
            if idx == 0:
                result = []
                result.append(player_games.loc[idx]['선발'])
                result.append(player_games.loc[idx]['구원'])
                result += [0 for i in range(4)]
                stats.append(result)
            else:
                past = player_games.loc[:idx-1]
                era = past['자책점'].sum() / past['이닝*3'].sum() * 27
                whip = (past['안타'].sum() + past['4구'].sum()) / (past['이닝*3'].sum() / 3)
                if past['4구'].sum() == 0:
                    k_b = past['삼진'].sum()
                else:
                    k_b = past['삼진'].sum() / past['4구'].sum()
                aver_inning = (past['이닝*3'].sum() / 3) / len(past)
                result = []
                result.append(player_games.loc[idx]['선발'])
                result.append(player_games.loc[idx]['구원'])
                result += [era, whip, k_b, aver_inning]
                for i in range(len(result)):
                    if result[i] != result[i]:
                        result[i] = 0.0
                    if np.isinf(result[i]):
                        result[i] = 10
                stats.append(result)
        else:
            if len(stats) == 0:
                stats.append([0, 0, 0, 0, 0, 0])
            else:
                same = stats[-1].copy()
                same[0] = 0
                same[1] = 0
                stats.append(same)
    return stats

In [123]:
team_pitcher_stats = pd.DataFrame()
team_pitcher_stats['date'] = game_days
team_pitcher_stats['game_key'] = game_keys


for player in p_list:
    p_stats = get_pitcher_stat(player)
    print(len(p_stats))
    team_pitcher_stats[player] = p_stats

안승민
144
김경태
144
김용주
144
이태양
144
문재현
144
임준섭
144
송창현
144
로저스
144
김민우
144
김범수
144
권용우
144
김재영
144
서캠프
144
마에스트리
144
카스티요
144
배영수
144
이재우
144

<ipython-input-122-6cce848eb2c8>:17: RuntimeWarning: divide by zero encountered in long_scalars
  era = past['자책점'].sum() / past['이닝*3'].sum() * 27
<ipython-input-122-6cce848eb2c8>:18: RuntimeWarning: divide by zero encountered in true_divide
  whip = (past['안타'].sum() + past['4구'].sum()) / (past['이닝*3'].sum() / 3)

권혁
144
안영명
144
윤규진
144
송은범
144
심수창
144
송창식
144
정재원
144
정우람
144
이동걸
144
정대훈
144
구본범
144
황재규
144
장민재
144
송신영
144
박정진
144

In [124]:
team_pitcher_stats

,date,game_key,안승민,김경태,김용주,이태양,문재현,임준섭,송창현,로저스,...,송창식,정재원,정우람,이동걸,정대훈,구본범,황재규,장민재,송신영,박정진
0,2016-04-01,20160401HHLG0,"[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]",...,"[0, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0]"
1,2016-04-02,20160402HHLG0,"[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]",...,"[0, 1, 0.0, 6.0, 1.0, 0.3333333333333333]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]"
2,2016-04-05,20160405WOHH0,"[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]",...,"[0, 0, 0.0, 6.0, 1.0, 0.3333333333333333]","[0, 0, 0, 0, 0, 0]","[0, 1, 0.0, 0.0, 2, 3.0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 1, 2.7, 1.5, 0.5, 3.3333333333333335]","[0, 0, 0, 0, 0, 0]","[0, 1, 0.0, 1.2, 1.0, 1.6666666666666667]"
3,2016-04-06,20160406WOHH0,"[0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]",...,"[0, 1, 0.0, 1.125, 6.0, 1.3333333333333333]","[0, 0, 0, 0, 0, 0]","[0, 0, 0.0, 0.0, 2, 3.0]","[0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 1, 2.25, 1.25, 1.5, 2.0]","[0, 0, 0, 0, 0, 0]","[0, 1, 0.0, 1.3333333333333333, 2.0, 1.5]"
4,2016-04-07,20160407WOHH0,"[0, 0, 0, 0, 0, 0]","[0, 1, 0.0, 0.0, 1, 1.3333333333333333]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 1, 0.0, 0.0, 4, 2.0]","[0, 0, 0, 0, 0, 0]",...,"[0, 0, 0.0, 1.125, 6.0, 1.3333333333333333]","[0, 0, 0, 0, 0, 0]","[0, 0, 0.0, 0.0, 2, 3.0]","[0, 0, 0, 0, 0, 0]","[0, 1, 0.0, 1.5, 1, 0.6666666666666666]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 2.25, 1.25, 1.5, 2.0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0.0, 1.3333333333333333, 2.0, 1.5]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,2016-09-30,20160930HHNC0,"[0, 0, 0, 0, 0, 0]","[0, 0, 6.171428571428571, 1.9714285714285715, ...","[0, 0, 9.391304347826086, 2.0217391304347827, ...","[1, 0, 5.311475409836065, 1.681967213114754, 0...","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 4.21875, 1.3125, 2.2, 1.0666666666666667]","[0, 0, 3.820754716981132, 1.3301886792452828, ...",...,"[0, 0, 4.764705882352941, 1.4221453287197232, ...","[0, 0, 6.639344262295082, 1.6721311475409837, ...","[0, 1, 3.506493506493506, 1.1688311688311688, ...","[0, 0, 9.0, 2.0, 0.0, 0.75]","[0, 0, 4.655172413793104, 1.4482758620689655, ...","[0, 0, 0, 0, 0, 0]","[0, 0, 13.5, 1.875, 1, 2.6666666666666665]","[0, 0, 4.333333333333333, 1.6666666666666667, ...","[0, 0, 4.725, 1.7999999999999998, 3.5, 1.33333...","[0, 1, 5.7375, 1.55, 2.53125, 1.0666666666666667]"
140,2016-10-02,20161002WOHH0,"[0, 0, 0, 0, 0, 0]","[0, 0, 6.171428571428571, 1.9714285714285715, ...","[0, 0, 9.391304347826086, 2.0217391304347827, ...","[0, 0, 5.311475409836065, 1.681967213114754, 0...","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 4.21875, 1.3125, 2.2, 1.0666666666666667]","[0, 0, 3.820754716981132, 1.3301886792452828, ...",...,"[0, 0, 4.764705882352941, 1.4221453287197232, ...","[0, 0, 6.639344262295082, 1.6721311475409837, ...","[0, 0, 3.506493506493506, 1.1688311688311688, ...","[0, 0, 9.0, 2.0, 0.0, 0.75]","[0, 0, 4.655172413793104, 1.4482758620689655, ...","[0, 0, 0, 0, 0, 0]","[0, 0, 13.5, 1.875, 1, 2.6666666666666665]","[0, 1, 4.580357142857143, 1.6696428571428572, ...","[0, 0, 4.725, 1.7999999999999998, 3.5, 1.33333...","[0, 0, 5.7375, 1.55, 2.53125, 1.0666666666666667]"
141,2016-10-03,20161003HHOB0,"[0, 0, 0, 0, 0, 0]","[0, 0, 6.171428571428571, 1.9714285714285715, ...","[0, 0, 9.391304347826086, 2.0217391304347827, ...","[0, 0, 5.311475409836065, 1.681967213114754, 0...","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 4.21875, 1.3125, 2.2, 1.0666666666666667]","[0, 0, 3.820754716981132, 1.3301886792452828, ...",...,"[0, 0, 4.764705882352941, 1.4221453287197232, ...","[0, 0, 6.639344262295082, 1.6721311475409837, ...","[0, 1, 3.4615384615384612, 1.1538461538461537,...","[0, 0, 9.0, 2.0, 0.0, 0.75]","[0, 0, 4.655172413793104, 1.4482758620689655, ...","[0, 0, 0, 0, 0, 0]","[0, 0, 13.5, 1.875, 1, 2.6666666666666665]","[0, 0, 4.580357142857143, 1.6696428571428572, ...","[0, 0, 4.725, 1.7999999999999998, 3.5, 1.33333...","[0, 0, 5.7375, 1.55, 2.53125, 1.0666666666666667]"
142,2016-10-05,20161005HHKT0,"[0, 0, 0, 0, 0, 0]","[0, 0, 6.171428571428571, 1.9714285714285715, ...","[0, 0, 9.391304347826086, 2.0217391304347827, ...","[1, 0, 5.0310559006211175, 1.6677018633540373,...","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 4.21875, 1.3125, 2.2, 1.0666666666666667]","[0, 0, 3.820754716981132, 1.3301886792452828, ...",...,"[0, 0, 4.764705882352941, 1.4221453287197232, ...","[0, 0, 6.639344262295082, 1.6721311475409837, ...","[0, 0, 3.4615384615384612, 1.1538461538461537,...","[0, 0, 9.0, 2.0, 0.0, 0.75]","[0, 0, 4.655172413793104, 1.4482758620689655, ...","[0, 0, 0, 0, 0, 0]","[0, 0, 13.5, 1.875, 1, 2.6666666666666665]","[0, 0, 4.580357142857143, 1.6696428571428572, ...","[0, 0, 4.725, 1.7999999999999998, 3.5, 1.33333...","[0, 0, 5.7375, 1.55, 2.53125, 1.0666666666666667]"
143,2016-10-08,20161008HTHH0,"[0, 0, 0, 0, 0, 0]","[0, 0, 6.171428571428571, 1.9714285714285715, ...","[0, 0, 9.391304347826086, 2.0217391304347827, ...","[0, 0, 5.0310559006211175, 1.6677018633540373,...","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 4.21875, 1.3125, 2.2, 1.0666666666666667]","[0, 0, 3.820754716981132, 1.3301886792452828, ...",...,"[0, 0, 4.764705882352941, 1.4221453287197232, ...","[0, 0, 6.639344262295082, 1.6721311475409837, ...","[0, 1, 3.417721518987342, 1.139240506329114, 3...","[0, 0, 9.0, 2.0, 0.0, 0.75]","[0, 0, 4.655172413793104, 1.4482758620689655, ...","[0, 0, 0, 0, 0, 0]","[0, 0, 13.5, 1.875, 1, 2.6666666666666665]","[1, 0, 4.448863636363636, 1.6448863636363638, ...","[0, 0, 4.725, 1.7999999999999998, 3.5, 1.33333...","[0, 1, 5.574898785425101, 1.5182186234817814, ..."

In [125]:
team_pitcher_stats.to_csv('data_processed/2016/2016_HH_p.csv')

# Team

In [126]:
team_b = pd.read_csv('dataset_wrangled/2016_팀타자.csv', encoding='utf-8')
team_p = pd.read_csv('dataset_wrangled/2016_팀투수.csv', encoding='utf-8')

In [127]:
team_b

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,타자,타수,타점,득점,...,4구,고의4구,사구,삼진,병살타,실책,잔루,득점권타율,득점권타수,득점권안타
0,20160401HHLG0,2016-04-01,LG,HH,0,B,47,42,4,5,...,4,0,0,11,0,0,8,0.333333,12,4
1,20160401HHLG0,2016-04-01,HH,LG,0,T,52,46,4,4,...,3,0,0,10,1,2,12,0.200000,15,3
2,20160401HTNC0,2016-04-01,NC,HT,0,B,36,30,5,5,...,5,0,0,9,1,1,7,0.142857,7,1
3,20160401HTNC0,2016-04-01,HT,NC,0,T,38,34,3,4,...,3,0,1,10,1,0,7,0.100000,10,1
4,20160401KTSK0,2016-04-01,SK,KT,0,B,36,36,4,4,...,0,0,0,7,1,1,5,0.375000,8,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,20161008SSSK0,2016-10-08,SS,SK,0,T,39,36,5,6,...,3,0,0,4,1,2,6,0.250000,8,2
1436,20161009KTNC0,2016-10-09,NC,KT,0,B,41,39,3,4,...,1,0,1,13,0,0,10,0.111111,18,2
1437,20161009KTNC0,2016-10-09,KT,NC,0,T,43,38,5,7,...,3,0,0,7,0,0,9,0.100000,10,1
1438,20161009WOLT0,2016-10-09,LT,WO,0,B,38,36,8,8,...,1,0,1,4,2,0,6,0.416667,12,5
1439,20161009WOLT0,2016-10-09,WO,LT,0,T,38,33,5,5,...,3,0,0,6,1,3,6,0.428571,7,3

In [128]:
team_p

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,완투,결과,홀드,이닝*3,...,삼진,병살타,폭투,보크,실책,실점,자책점,득점권WHIP,2점차이하WHIP,345번타자WHIP
0,20160401HHLG0,2016-04-01,LG,HH,0,B,0,W,0,36,...,10,1,0,0,0,4,4,0.642857,1.285714,2.400000
1,20160401HHLG0,2016-04-01,HH,LG,0,T,0,L,0,34,...,11,0,1,0,0,5,4,1.500000,1.000000,0.750000
2,20160401HTNC0,2016-04-01,NC,HT,0,B,0,W,0,27,...,10,1,2,0,0,4,4,1.333333,1.038462,2.142857
3,20160401HTNC0,2016-04-01,HT,NC,0,T,0,L,0,24,...,9,1,0,0,0,5,5,0.500000,1.695652,1.875000
4,20160401KTSK0,2016-04-01,SK,KT,0,B,0,L,0,27,...,7,0,0,0,0,8,8,1.000000,2.357143,2.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,20161008SSSK0,2016-10-08,SS,SK,0,T,0,L,0,24,...,9,1,0,0,0,7,6,1.500000,2.538462,1.666667
1436,20161009KTNC0,2016-10-09,NC,KT,0,B,0,L,0,27,...,7,0,2,1,0,7,7,0.900000,2.217391,1.500000
1437,20161009KTNC0,2016-10-09,KT,NC,0,T,0,W,1,27,...,13,0,0,0,1,4,3,0.562500,1.428571,1.090909
1438,20161009WOLT0,2016-10-09,LT,WO,0,B,0,W,1,27,...,6,1,1,0,0,5,5,1.500000,1.500000,1.000000
1439,20161009WOLT0,2016-10-09,WO,LT,0,T,0,L,0,24,...,4,2,1,0,0,8,4,2.250000,1.666667,3.000000

In [130]:
team_bat = team_b[team_b['팀코드'] == 'OB']
team_pitch = team_p[team_p['팀코드'] == 'OB']

In [133]:
team_bat.reset_index(inplace=True, drop=True)
team_pitch.reset_index(inplace=True, drop=True)

In [135]:
team_pitch

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,완투,결과,홀드,이닝*3,...,삼진,병살타,폭투,보크,실책,실점,자책점,득점권WHIP,2점차이하WHIP,345번타자WHIP
0,20160401OBSS0,2016-04-01,OB,SS,0,T,0,W,1,27,...,6,2,1,0,0,1,1,1.000000,2.000000,1.666667
1,20160402OBSS0,2016-04-02,OB,SS,0,T,0,L,0,24,...,7,1,0,0,1,10,10,1.875000,2.181818,2.100000
2,20160405NCOB0,2016-04-05,OB,NC,0,B,0,W,0,27,...,9,1,0,0,0,2,2,1.800000,1.000000,1.500000
3,20160406NCOB0,2016-04-06,OB,NC,0,B,0,W,0,27,...,12,1,0,0,0,0,0,0.000000,0.333333,0.857143
4,20160407NCOB0,2016-04-07,OB,NC,0,B,0,L,0,27,...,4,0,0,0,0,8,8,4.200000,3.857143,2.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,20160928OBHH0,2016-09-28,OB,HH,0,T,0,W,0,27,...,9,0,1,0,0,3,3,0.375000,0.000000,2.142857
140,20160929WOOB0,2016-09-29,OB,WO,0,B,0,L,0,27,...,7,1,0,0,0,9,9,2.000000,2.727273,1.636364
141,20161003HHOB0,2016-10-03,OB,HH,0,B,0,L,0,27,...,2,3,0,0,0,13,13,1.166667,3.000000,4.714286
142,20161004LTOB0,2016-10-04,OB,LT,0,B,0,W,0,30,...,12,1,0,1,0,5,5,2.333333,1.900000,1.500000
143,20161008OBLG0,2016-10-08,OB,LG,0,T,0,W,0,27,...,8,1,0,0,0,1,0,1.200000,0.000000,0.600000

In [136]:
game_keys = team_pitch['게임키'].unique().tolist()
game_keys

['20160401OBSS0',
 '20160402OBSS0',
 '20160405NCOB0',
 '20160406NCOB0',
 '20160407NCOB0',
 '20160408WOOB0',
 '20160409WOOB0',
 '20160410WOOB0',
 '20160412OBHH0',
 '20160413OBHH0',
 '20160414OBHH0',
 '20160415SSOB0',
 '20160417SSOB0',
 '20160419OBKT0',
 '20160420OBKT0',
 '20160421OBKT0',
 '20160422HHOB0',
 '20160423HHOB0',
 '20160424HHOB0',
 '20160426SKOB0',
 '20160427SKOB0',
 '20160428SKOB0',
 '20160429OBHT0',
 '20160430OBHT0',
 '20160501OBHT0',
 '20160504OBLG0',
 '20160505OBLG0',
 '20160506LTOB0',
 '20160507LTOB0',
 '20160508LTOB0',
 '20160510OBSK0',
 '20160511OBSK0',
 '20160512OBSK0',
 '20160513OBWO0',
 '20160514OBWO0',
 '20160515OBWO0',
 '20160517HTOB0',
 '20160518HTOB0',
 '20160519HTOB0',
 '20160520OBLT0',
 '20160521OBLT0',
 '20160522OBLT0',
 '20160524KTOB0',
 '20160525KTOB0',
 '20160526KTOB0',
 '20160527LGOB0',
 '20160528LGOB0',
 '20160529LGOB0',
 '20160531OBNC0',
 '20160601OBNC0',
 '20160602OBNC0',
 '20160603SKOB0',
 '20160604SKOB0',
 '20160605SKOB0',
 '20160607OBKT0',
 '20160608OBKT0',
 '20160609OBKT0',
 '20160610LTOB0',
 '20160611LTOB0',
 '20160612LTOB0',
 '20160614OBHT0',
 '20160615OBHT0',
 '20160616OBHT0',
 '20160617OBSS0',
 '20160618OBSS0',
 '20160619OBSS0',
 '20160621KTOB0',
 '20160623KTOB0',
 '20160624OBSK0',
 '20160625OBSK0',
 '20160626OBSK0',
 '20160628NCOB0',
 '20160629NCOB0',
 '20160630NCOB0',
 '20160702OBHH0',
 '20160706WOOB0',
 '20160707WOOB0',
 '20160708HTOB0',
 '20160709HTOB0',
 '20160710HTOB0',
 '20160712OBNC0',
 '20160713OBNC0',
 '20160714OBNC0',
 '20160719SSOB0',
 '20160720SSOB0',
 '20160721SSOB0',
 '20160722OBLG0',
 '20160723OBLG0',
 '20160724OBLG0',
 '20160726OBWO0',
 '20160727OBWO0',
 '20160728OBWO0',
 '20160729HHOB0',
 '20160730HHOB0',
 '20160731HHOB0',
 '20160802LGOB0',
 '20160803LGOB0',
 '20160804LGOB0',
 '20160805OBLT0',
 '20160806OBLT0',
 '20160807OBLT0',
 '20160809HTOB0',
 '20160810HTOB0',
 '20160811OBSS0',
 '20160812OBSS0',
 '20160813WOOB0',
 '20160814WOOB0',
 '20160816OBHH0',
 '20160817OBHH0',
 '20160818OBSK0',
 '20160819OBSK0',
 '20160820NCOB0',
 '20160821NCOB0',
 '20160823LGOB0',
 '20160824LGOB0',
 '20160826LTOB0',
 '20160827OBHT0',
 '20160828OBHT0',
 '20160830HHOB0',
 '20160901KTOB0',
 '20160902KTOB0',
 '20160903SSOB0',
 '20160904SSOB0',
 '20160906OBLT0',
 '20160907OBLT0',
 '20160908OBLG0',
 '20160909OBLG0',
 '20160910OBWO0',
 '20160911OBWO0',
 '20160913SKOB0',
 '20160914SKOB0',
 '20160915OBNC0',
 '20160916OBNC0',
 '20160917OBKT0',
 '20160918OBKT0',
 '20160920SSOB0',
 '20160922KTOB0',
 '20160923OBSS0',
 '20160927OBHH0',
 '20160928OBHH0',
 '20160929WOOB0',
 '20161003HHOB0',
 '20161004LTOB0',
 '20161008OBLG0']

In [137]:
game_days = []
for key in game_keys:
    idx = team_pitch[team_pitch['게임키']==key].index.tolist()[0]
    date = team_pitch.loc[idx]['일자']
    game_days.append(date)
game_days

['2016-04-01',
 '2016-04-02',
 '2016-04-05',
 '2016-04-06',
 '2016-04-07',
 '2016-04-08',
 '2016-04-09',
 '2016-04-10',
 '2016-04-12',
 '2016-04-13',
 '2016-04-14',
 '2016-04-15',
 '2016-04-17',
 '2016-04-19',
 '2016-04-20',
 '2016-04-21',
 '2016-04-22',
 '2016-04-23',
 '2016-04-24',
 '2016-04-26',
 '2016-04-27',
 '2016-04-28',
 '2016-04-29',
 '2016-04-30',
 '2016-05-01',
 '2016-05-04',
 '2016-05-05',
 '2016-05-06',
 '2016-05-07',
 '2016-05-08',
 '2016-05-10',
 '2016-05-11',
 '2016-05-12',
 '2016-05-13',
 '2016-05-14',
 '2016-05-15',
 '2016-05-17',
 '2016-05-18',
 '2016-05-19',
 '2016-05-20',
 '2016-05-21',
 '2016-05-22',
 '2016-05-24',
 '2016-05-25',
 '2016-05-26',
 '2016-05-27',
 '2016-05-28',
 '2016-05-29',
 '2016-05-31',
 '2016-06-01',
 '2016-06-02',
 '2016-06-03',
 '2016-06-04',
 '2016-06-05',
 '2016-06-07',
 '2016-06-08',
 '2016-06-09',
 '2016-06-10',
 '2016-06-11',
 '2016-06-12',
 '2016-06-14',
 '2016-06-15',
 '2016-06-16',
 '2016-06-17',
 '2016-06-18',
 '2016-06-19',
 '2016-06-21',
 '2016-06-23',
 '2016-06-24',
 '2016-06-25',
 '2016-06-26',
 '2016-06-28',
 '2016-06-29',
 '2016-06-30',
 '2016-07-02',
 '2016-07-06',
 '2016-07-07',
 '2016-07-08',
 '2016-07-09',
 '2016-07-10',
 '2016-07-12',
 '2016-07-13',
 '2016-07-14',
 '2016-07-19',
 '2016-07-20',
 '2016-07-21',
 '2016-07-22',
 '2016-07-23',
 '2016-07-24',
 '2016-07-26',
 '2016-07-27',
 '2016-07-28',
 '2016-07-29',
 '2016-07-30',
 '2016-07-31',
 '2016-08-02',
 '2016-08-03',
 '2016-08-04',
 '2016-08-05',
 '2016-08-06',
 '2016-08-07',
 '2016-08-09',
 '2016-08-10',
 '2016-08-11',
 '2016-08-12',
 '2016-08-13',
 '2016-08-14',
 '2016-08-16',
 '2016-08-17',
 '2016-08-18',
 '2016-08-19',
 '2016-08-20',
 '2016-08-21',
 '2016-08-23',
 '2016-08-24',
 '2016-08-26',
 '2016-08-27',
 '2016-08-28',
 '2016-08-30',
 '2016-09-01',
 '2016-09-02',
 '2016-09-03',
 '2016-09-04',
 '2016-09-06',
 '2016-09-07',
 '2016-09-08',
 '2016-09-09',
 '2016-09-10',
 '2016-09-11',
 '2016-09-13',
 '2016-09-14',
 '2016-09-15',
 '2016-09-16',
 '2016-09-17',
 '2016-09-18',
 '2016-09-20',
 '2016-09-22',
 '2016-09-23',
 '2016-09-27',
 '2016-09-28',
 '2016-09-29',
 '2016-10-03',
 '2016-10-04',
 '2016-10-08']

In [138]:
team_pitch.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '완투', '결과', '홀드', '이닝*3',
       '투구 수', '타자', '타수', '안타', '2루타', '3루타', '홈런', '도루', '도루실패', '희타', '희비',
       '4구', '고4', '사구', '삼진', '병살타', '폭투', '보크', '실책', '실점', '자책점', '득점권WHIP',
       '2점차이하WHIP', '345번타자WHIP'],
      dtype='object')

In [154]:
def get_win_rate(game_key):
    idx = team_pitch[team_pitch['게임키']==game_key].index.tolist()[0]
    if idx == 0:
        return 0
    else:
        past = team_pitch.loc[:idx-1]
        counts = past['결과'].value_counts()
        wins = counts['W']
        lose = counts['L']
        rate = wins / (win+lose)
        return rate

In [145]:
key = '20160408WOOB0'

In [146]:
idx = team_pitch[team_pitch['게임키']==key].index.tolist()[0]

In [147]:
past = team_pitch.loc[:idx-1]

In [152]:
c = past['결과'].value_counts()

In [153]:
c['W']

3