In [1]:
import pandas as pd
import numpy as np

In [2]:
batter_2016 = pd.read_csv('dataset_wrangled/2016_개인타자.csv', encoding='utf-8')
pitcher_2016 = pd.read_csv('dataset_wrangled/2016_개인투수.csv', encoding='utf-8')
game_2016 = pd.read_csv('dataset_wrangled/2016_경기.csv', encoding='utf-8')
player_2016 = pd.read_csv('dataset_wrangled/2016_선수.csv', encoding='utf-8')

In [28]:
team = player_2016[player_2016['팀코드'] == 'LG']
team_p, team_b = team[team['포지션'] == '투'], team[team['포지션'] != '투']

In [14]:
b_list = team_b['선수명'].tolist()
p_list = team_p['선수명'].tolist()

# Batter

In [131]:
batters_by_game = batter_2016[batter_2016['팀코드'] == 'LG']
batters_by_game.reset_index(inplace=True, drop=True)
batters_by_game

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,선수명,선발,타순,타자,...,4구,고의4구,사구,삼진,병살타,실책,잔루,득점권타율,득점권타수,득점권안타
0,20160401HHLG0,2016-04-01,LG,HH,0,B,유강남,1,8,3,...,0,0,0,2,0,0,0,0.0,0,0
1,20160401HHLG0,2016-04-01,LG,HH,0,B,이천웅,1,7,4,...,0,0,0,1,0,0,0,1.0,1,1
2,20160401HHLG0,2016-04-01,LG,HH,0,B,서상우,0,9,1,...,1,0,0,0,0,0,0,0.0,0,0
3,20160401HHLG0,2016-04-01,LG,HH,0,B,황목치승,0,2,0,...,0,0,0,0,0,0,0,0.0,0,0
4,20160401HHLG0,2016-04-01,LG,HH,0,B,강승호,1,9,3,...,1,0,0,1,0,0,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1931,20161008OBLG0,2016-10-08,LG,OB,0,B,문선재,0,3,1,...,1,0,0,0,0,0,0,0.0,0,0
1932,20161008OBLG0,2016-10-08,LG,OB,0,B,채은성,0,4,1,...,0,0,0,0,1,0,0,0.0,0,0
1933,20161008OBLG0,2016-10-08,LG,OB,0,B,윤진호,0,8,1,...,0,0,0,0,0,1,0,0.0,0,0
1934,20161008OBLG0,2016-10-08,LG,OB,0,B,이병규,0,8,1,...,0,0,0,0,0,0,1,1.0,1,1
1935,20161008OBLG0,2016-10-08,LG,OB,0,B,정성훈,1,3,3,...,0,0,0,1,0,0,0,0.0,1,0

In [132]:
game_keys = batters_by_game['게임키'].unique().tolist()
game_keys

['20160401HHLG0',
 '20160402HHLG0',
 '20160405LGHT0',
 '20160407LGHT0',
 '20160408LGSK0',
 '20160409LGSK0',
 '20160410LGSK0',
 '20160412LTLG0',
 '20160413LTLG0',
 '20160414LTLG0',
 '20160415LGHH0',
 '20160417LGHH0',
 '20160419NCLG0',
 '20160420NCLG0',
 '20160421NCLG0',
 '20160422LGWO0',
 '20160423LGWO0',
 '20160424LGWO0',
 '20160426LGSS0',
 '20160428LGSS0',
 '20160429KTLG0',
 '20160430KTLG0',
 '20160501KTLG0',
 '20160504OBLG0',
 '20160505OBLG0',
 '20160506LGNC0',
 '20160507LGNC0',
 '20160508LGNC0',
 '20160510SSLG0',
 '20160511SSLG0',
 '20160512SSLG0',
 '20160513SKLG0',
 '20160514SKLG0',
 '20160517LGKT0',
 '20160518LGKT0',
 '20160519LGKT0',
 '20160520WOLG0',
 '20160521WOLG0',
 '20160522WOLG0',
 '20160525LGLT0',
 '20160526LGLT0',
 '20160527LGOB0',
 '20160528LGOB0',
 '20160529LGOB0',
 '20160531HTLG0',
 '20160601HTLG0',
 '20160602HTLG0',
 '20160603LGKT0',
 '20160604LGKT0',
 '20160605LGKT0',
 '20160607SSLG0',
 '20160608SSLG0',
 '20160609SSLG0',
 '20160610LGHH0',
 '20160611LGHH0',
 '20160612LGHH0',
 '20160614NCLG0',
 '20160616NCLG0',
 '20160617HTLG0',
 '20160618HTLG0',
 '20160619HTLG0',
 '20160621LGSK0',
 '20160622LGSK0',
 '20160623LGSK0',
 '20160624WOLG0',
 '20160625WOLG0',
 '20160626WOLG0',
 '20160628LGHT0',
 '20160629LGHT0',
 '20160630LGHT0',
 '20160702SKLG0',
 '20160703SKLG0',
 '20160705LGSS0',
 '20160707LGSS0',
 '20160708LGLT0',
 '20160709LGLT0',
 '20160710LGLT0',
 '20160712HHLG0',
 '20160713HHLG0',
 '20160714HHLG0',
 '20160719LGWO0',
 '20160720LGWO0',
 '20160721LGWO0',
 '20160722OBLG0',
 '20160723OBLG0',
 '20160724OBLG0',
 '20160726LTLG0',
 '20160727LTLG0',
 '20160728LTLG0',
 '20160729LGNC0',
 '20160730LGNC0',
 '20160731LGNC0',
 '20160802LGOB0',
 '20160803LGOB0',
 '20160804LGOB0',
 '20160805KTLG0',
 '20160806KTLG0',
 '20160807KTLG0',
 '20160809LGSK0',
 '20160810LGSK0',
 '20160811NCLG0',
 '20160812NCLG0',
 '20160813LGSS0',
 '20160814LGSS0',
 '20160816SKLG0',
 '20160817SKLG0',
 '20160818HHLG0',
 '20160819HHLG0',
 '20160820LGHT0',
 '20160821LGHT0',
 '20160823LGOB0',
 '20160824LGOB0',
 '20160825LGWO0',
 '20160826LGWO0',
 '20160827KTLG0',
 '20160828KTLG0',
 '20160830LGLT0',
 '20160831LGLT0',
 '20160901LGHH0',
 '20160902LGHH0',
 '20160903LGKT0',
 '20160904LGKT0',
 '20160906WOLG0',
 '20160907WOLG0',
 '20160908OBLG0',
 '20160909OBLG0',
 '20160910LTLG0',
 '20160911LTLG0',
 '20160913LGNC0',
 '20160914LGNC0',
 '20160915HTLG0',
 '20160916HTLG0',
 '20160917SSLG0',
 '20160918SSLG0',
 '20160920LGHH0',
 '20160921NCLG0',
 '20160924HHLG0',
 '20160927LGHT0',
 '20160930SKLG0',
 '20161001SKLG0',
 '20161003LGSS0',
 '20161004LGSS0',
 '20161006LGLT0',
 '20161008OBLG0']

In [133]:
game_days = []
for key in game_keys:
    idx = batters_by_game[batters_by_game['게임키']==key].index.tolist()[0]
    date = batters_by_game.loc[idx]['일자']
    game_days.append(date)

In [134]:
game_days

['2016-04-01',
 '2016-04-02',
 '2016-04-05',
 '2016-04-07',
 '2016-04-08',
 '2016-04-09',
 '2016-04-10',
 '2016-04-12',
 '2016-04-13',
 '2016-04-14',
 '2016-04-15',
 '2016-04-17',
 '2016-04-19',
 '2016-04-20',
 '2016-04-21',
 '2016-04-22',
 '2016-04-23',
 '2016-04-24',
 '2016-04-26',
 '2016-04-28',
 '2016-04-29',
 '2016-04-30',
 '2016-05-01',
 '2016-05-04',
 '2016-05-05',
 '2016-05-06',
 '2016-05-07',
 '2016-05-08',
 '2016-05-10',
 '2016-05-11',
 '2016-05-12',
 '2016-05-13',
 '2016-05-14',
 '2016-05-17',
 '2016-05-18',
 '2016-05-19',
 '2016-05-20',
 '2016-05-21',
 '2016-05-22',
 '2016-05-25',
 '2016-05-26',
 '2016-05-27',
 '2016-05-28',
 '2016-05-29',
 '2016-05-31',
 '2016-06-01',
 '2016-06-02',
 '2016-06-03',
 '2016-06-04',
 '2016-06-05',
 '2016-06-07',
 '2016-06-08',
 '2016-06-09',
 '2016-06-10',
 '2016-06-11',
 '2016-06-12',
 '2016-06-14',
 '2016-06-16',
 '2016-06-17',
 '2016-06-18',
 '2016-06-19',
 '2016-06-21',
 '2016-06-22',
 '2016-06-23',
 '2016-06-24',
 '2016-06-25',
 '2016-06-26',
 '2016-06-28',
 '2016-06-29',
 '2016-06-30',
 '2016-07-02',
 '2016-07-03',
 '2016-07-05',
 '2016-07-07',
 '2016-07-08',
 '2016-07-09',
 '2016-07-10',
 '2016-07-12',
 '2016-07-13',
 '2016-07-14',
 '2016-07-19',
 '2016-07-20',
 '2016-07-21',
 '2016-07-22',
 '2016-07-23',
 '2016-07-24',
 '2016-07-26',
 '2016-07-27',
 '2016-07-28',
 '2016-07-29',
 '2016-07-30',
 '2016-07-31',
 '2016-08-02',
 '2016-08-03',
 '2016-08-04',
 '2016-08-05',
 '2016-08-06',
 '2016-08-07',
 '2016-08-09',
 '2016-08-10',
 '2016-08-11',
 '2016-08-12',
 '2016-08-13',
 '2016-08-14',
 '2016-08-16',
 '2016-08-17',
 '2016-08-18',
 '2016-08-19',
 '2016-08-20',
 '2016-08-21',
 '2016-08-23',
 '2016-08-24',
 '2016-08-25',
 '2016-08-26',
 '2016-08-27',
 '2016-08-28',
 '2016-08-30',
 '2016-08-31',
 '2016-09-01',
 '2016-09-02',
 '2016-09-03',
 '2016-09-04',
 '2016-09-06',
 '2016-09-07',
 '2016-09-08',
 '2016-09-09',
 '2016-09-10',
 '2016-09-11',
 '2016-09-13',
 '2016-09-14',
 '2016-09-15',
 '2016-09-16',
 '2016-09-17',
 '2016-09-18',
 '2016-09-20',
 '2016-09-21',
 '2016-09-24',
 '2016-09-27',
 '2016-09-30',
 '2016-10-01',
 '2016-10-03',
 '2016-10-04',
 '2016-10-06',
 '2016-10-08']

In [67]:
batters_by_game[batters_by_game['게임키']=='20160929SSNC1'].index.tolist()[0]

1783

In [73]:
batters_by_game.loc[1785]

게임키       20160929SSNC1
일자           2016-09-29
팀코드                  NC
상대팀코드                SS
더블헤더코드                1
초말                    B
선수명                 나성범
선발                    1
타순                    3
타자                    3
타수                    3
타점                    0
득점                    0
안타                    0
2루타                   0
3루타                   0
홈런                    0
도루                    0
도루실패                  0
희타                    0
희비                    0
4구                    0
고의4구                  0
사구                    0
삼진                    2
병살타                   0
실책                    0
잔루                    0
득점권타율                 0
득점권타수                 2
득점권안타                 0
Name: 1785, dtype: object

In [135]:
def get_player_stat(player):
    print(player)
    player_games = batters_by_game[batters_by_game['선수명'] == player]
    player_games.reset_index(inplace=True, drop=True)
    stats = []
    for key in game_keys:
        if key in player_games['게임키'].values:
            idx = player_games[player_games['게임키']==key].index.tolist()[0]
            if idx == 0:
                result = []
                result.append(player_games.loc[idx]['선발'])
                result.append(player_games.loc[idx]['타순'])
                result += [0 for i in range(6)]
                stats.append(result)
            else:
                past = player_games.loc[:idx-1]
                hit_rate = past['안타'].sum() / past['타수'].sum()
                oba = (past['안타'].sum()+past['4구'].sum()+past['고의4구'].sum()+past['사구'].sum())/(past['타수'].sum()+past['4구'].sum()+past['고의4구'].sum()+past['사구'].sum()+past['희비'].sum())
                slg = (past['안타'].sum()+past['2루타'].sum()+2*past['3루타'].sum()+3*past['홈런'].sum())/past['타수'].sum()
                d_hit_rate = past['득점권안타'].sum() / past['득점권타수'].sum()
                d_per_b = past['득점'].sum()/past['타수'].sum()
                t_per_b = past['타점'].sum()/past['타수'].sum()
                result = []
                result.append(player_games.loc[idx]['선발'])
                result.append(player_games.loc[idx]['타순'])
                result += [hit_rate, oba, slg, d_hit_rate, d_per_b, t_per_b]
                for i in range(len(result)):
                    if result[i] != result[i]:
                        result[i] = 0.0
                stats.append(result)
        else:
            if len(stats) == 0:
                stats.append([0, -1, 0, 0, 0, 0, 0, 0])
            else:
                same = stats[-1].copy()
                same[0] = 0
                same[1] = -1
                stats.append(same)
    return stats

In [136]:
team_batter_stats = pd.DataFrame()
team_batter_stats['date'] = game_days
team_batter_stats['game_key'] = game_keys


for player in b_list:
    p_stats = get_player_stat(player)
    print(len(p_stats))
    team_batter_stats[player] = p_stats

백창수
144
유강남
144
강병의
144
김재율
144
이천웅
144
이민재
144
김지성
144
조윤준
144
서상우
144

<ipython-input-135-3d454bc6d38c>:20: RuntimeWarning: invalid value encountered in long_scalars
  d_hit_rate = past['득점권안타'].sum() / past['득점권타수'].sum()
<ipython-input-135-3d454bc6d38c>:17: RuntimeWarning: invalid value encountered in long_scalars
  hit_rate = past['안타'].sum() / past['타수'].sum()
<ipython-input-135-3d454bc6d38c>:19: RuntimeWarning: invalid value encountered in long_scalars
  slg = (past['안타'].sum()+past['2루타'].sum()+2*past['3루타'].sum()+3*past['홈런'].sum())/past['타수'].sum()
<ipython-input-135-3d454bc6d38c>:21: RuntimeWarning: invalid value encountered in long_scalars
  d_per_b = past['득점'].sum()/past['타수'].sum()
<ipython-input-135-3d454bc6d38c>:22: RuntimeWarning: invalid value encountered in long_scalars
  t_per_b = past['타점'].sum()/past['타수'].sum()

윤여운
144
황목치승
144
강승호
144
박재욱
144
장준원
144
양석환
144
히메네스
144
안익훈
144
박성준
144
홍창기
144

<ipython-input-135-3d454bc6d38c>:18: RuntimeWarning: invalid value encountered in long_scalars
  oba = (past['안타'].sum()+past['4구'].sum()+past['고의4구'].sum()+past['사구'].sum())/(past['타수'].sum()+past['4구'].sum()+past['고의4구'].sum()+past['사구'].sum()+past['희비'].sum())

김주성
144
정상호
144
박용택
144
손주인
144
최경철
144
임훈
144
이병규
144
이형종
144
김용의
144
오지환
144
문선재
144
정주현
144
채은성
144
윤진호
144
이병규
144

<ipython-input-135-3d454bc6d38c>:21: RuntimeWarning: divide by zero encountered in long_scalars
  d_per_b = past['득점'].sum()/past['타수'].sum()

정성훈
144

In [137]:
team_batter_stats.tail()

,date,game_key,백창수,유강남,강병의,김재율,이천웅,이민재,김지성,조윤준,...,임훈,이병규,이형종,김용의,오지환,문선재,정주현,채은성,윤진호,정성훈
139,2016-10-01,20161001SKLG0,"[0, -1, 0.3333333333333333, 0.4444444444444444...","[1, 8, 0.26848249027237353, 0.3192982456140351...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0, 0, 0, 0, 0, 0]","[1, 2, 0.2894736842105263, 0.3708609271523179,...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0, -1, 0, 0, 0, 0, 0, 0]",...,"[0, -1, 0.26256983240223464, 0.316062176165803...","[1, 5, 0.2762237762237762, 0.39244186046511625...","[0, 5, 0.288135593220339, 0.375, 0.38135593220...","[1, 1, 0.3253424657534247, 0.39384615384615385...","[1, 6, 0.2770448548812665, 0.3827433628318584,...","[0, 2, 0.2912621359223301, 0.3333333333333333,...","[0, -1, 0.22321428571428573, 0.307086614173228...","[0, -1, 0.3163265306122449, 0.3669724770642202...","[0, -1, 0.2222222222222222, 0.2222222222222222...","[1, 7, 0.325068870523416, 0.3866995073891626, ..."
140,2016-10-03,20161003LGSS0,"[0, -1, 0.3333333333333333, 0.4444444444444444...","[1, 8, 0.26744186046511625, 0.3205574912891986...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0, 0, 0, 0, 0, 0]","[0, 7, 0.2873134328358209, 0.3684210526315789,...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0, -1, 0, 0, 0, 0, 0, 0]",...,"[0, -1, 0.26256983240223464, 0.316062176165803...","[0, 9, 0.2762237762237762, 0.39420289855072466...","[1, 7, 0.2833333333333333, 0.3695652173913043,...","[1, 1, 0.3277027027027027, 0.3951367781155015,...","[1, 5, 0.2774869109947644, 0.3824175824175824,...","[1, 2, 0.28846153846153844, 0.336283185840708,...","[0, -1, 0.22321428571428573, 0.307086614173228...","[0, 9, 0.3189873417721519, 0.3690205011389522,...","[0, 9, 0.21052631578947367, 0.2105263157894736...","[0, 9, 0.3224043715846995, 0.38386308068459657..."
141,2016-10-04,20161004LGSS0,"[0, -1, 0.3333333333333333, 0.4444444444444444...","[0, 8, 0.26717557251908397, 0.3195876288659793...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0, 0, 0, 0, 0, 0]","[0, 2, 0.2899628252788104, 0.3704918032786885,...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0, 1, 0, 0, 0, 0, 0, 0]",...,"[0, -1, 0.26256983240223464, 0.316062176165803...","[0, 8, 0.2762237762237762, 0.39420289855072466...","[0, -1, 0.2833333333333333, 0.3695652173913043...","[1, 1, 0.32666666666666666, 0.3933933933933934...","[1, 6, 0.27979274611398963, 0.3847826086956522...","[1, 2, 0.29357798165137616, 0.3389830508474576...","[0, -1, 0.22321428571428573, 0.307086614173228...","[1, 5, 0.3189873417721519, 0.3704545454545455,...","[0, 8, 0.2, 0.2, 0.2, 0.0, 0.15, 0.0]","[0, 9, 0.3224043715846995, 0.3829268292682927,..."
142,2016-10-06,20161006LGLT0,"[0, -1, 0.3333333333333333, 0.4444444444444444...","[0, -1, 0.26717557251908397, 0.319587628865979...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0, 0, 0, 0, 0, 0]","[1, 2, 0.2952029520295203, 0.3745928338762215,...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0, -1, 0, 0, 0, 0, 0, 0]",...,"[0, -1, 0.26256983240223464, 0.316062176165803...","[0, 1, 0.2743055555555556, 0.3919308357348703,...","[0, 6, 0.2845528455284553, 0.36879432624113473...","[1, 1, 0.32450331125827814, 0.3928571428571428...","[1, 5, 0.2802056555269923, 0.3857758620689655,...","[0, 2, 0.2882882882882883, 0.3333333333333333,...","[0, -1, 0.22321428571428573, 0.307086614173228...","[1, 6, 0.3157894736842105, 0.36711711711711714...","[0, -1, 0.2, 0.2, 0.2, 0.0, 0.15, 0.0]","[0, -1, 0.3224043715846995, 0.3829268292682927..."
143,2016-10-08,20161008OBLG0,"[0, -1, 0.3333333333333333, 0.4444444444444444...","[1, 7, 0.26717557251908397, 0.3195876288659793...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0, 0, 0, 0, 0, 0]","[1, 2, 0.2967032967032967, 0.37942122186495175...","[0, -1, 0, 0, 0, 0, 0, 0]","[0, -1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0, 7, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0]",...,"[0, -1, 0.26256983240223464, 0.316062176165803...","[1, 6, 0.27335640138408307, 0.3908045977011494...","[0, 2, 0.2845528455284553, 0.36879432624113473...","[1, 1, 0.32131147540983607, 0.3893805309734513...","[0, 7, 0.28061224489795916, 0.3880597014925373...","[0, 3, 0.2882882882882883, 0.33884297520661155...","[0, -1, 0.22321428571428573, 0.307086614173228...","[0, 4, 0.31343283582089554, 0.3660714285714285...","[0, 8, 0.2, 0.2, 0.2, 0.0, 0.15, 0.0]","[1, 3, 0.3215258855585831, 0.3819951338199513,..."

In [138]:
team_batter_stats.to_csv('data_processed/2016/2016_LG_b.csv')

# Pitcher

In [117]:
team = player_2016[player_2016['팀코드'] == 'WO']
team_p, team_b = team[team['포지션'] == '투'], team[team['포지션'] != '투']

In [118]:
b_list = team_b['선수명'].tolist()
p_list = team_p['선수명'].tolist()

In [119]:
pitchers_by_game = pitcher_2016[pitcher_2016['팀코드'] == 'WO']
pitchers_by_game.reset_index(inplace=True, drop=True)
pitchers_by_game

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,선수명,선발,구원,완투,...,삼진,병살타,폭투,보크,실책,실점,자책점,득점권WHIP,2점차이하WHIP,345번타자WHIP
0,20160401LTWO0,2016-04-01,WO,LT,0,B,김정훈,0,1,0,...,0,0,0,0,0,0,0,0.0,2.0,0.000000
1,20160401LTWO0,2016-04-01,WO,LT,0,B,피어밴드,1,0,0,...,5,2,0,0,0,2,1,0.3,1.5,1.285714
2,20160401LTWO0,2016-04-01,WO,LT,0,B,마정길,0,1,0,...,1,0,0,0,0,0,0,0.0,1.0,0.000000
3,20160401LTWO0,2016-04-01,WO,LT,0,B,이보근,0,1,0,...,0,0,0,0,0,0,0,0.0,1.0,0.000000
4,20160402LTWO0,2016-04-02,WO,LT,0,B,김택형,0,1,0,...,1,0,0,0,0,0,0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,20161009WOLT0,2016-10-09,WO,LT,0,T,김정훈,0,1,0,...,1,0,1,0,0,3,0,2.0,3.0,0.000000
604,20161009WOLT0,2016-10-09,WO,LT,0,T,신재영,1,0,0,...,1,1,0,0,0,2,2,0.0,2.0,4.500000
605,20161009WOLT0,2016-10-09,WO,LT,0,T,마정길,0,1,0,...,0,1,0,0,0,1,1,0.0,0.5,0.000000
606,20161009WOLT0,2016-10-09,WO,LT,0,T,이보근,0,1,0,...,1,0,0,0,0,2,1,0.0,3.0,3.000000
607,20161009WOLT0,2016-10-09,WO,LT,0,T,김세현,0,1,0,...,1,0,0,0,0,0,0,1.5,0.0,0.000000

In [120]:
game_keys = pitchers_by_game['게임키'].unique().tolist()
game_keys

['20160401LTWO0',
 '20160402LTWO0',
 '20160403LTWO0',
 '20160405WOHH0',
 '20160406WOHH0',
 '20160407WOHH0',
 '20160408WOOB0',
 '20160409WOOB0',
 '20160410WOOB0',
 '20160412KTWO0',
 '20160413KTWO0',
 '20160414KTWO0',
 '20160415WOHT0',
 '20160417WOHT0',
 '20160419WOSK0',
 '20160420WOSK0',
 '20160421WOSK0',
 '20160422LGWO0',
 '20160423LGWO0',
 '20160424LGWO0',
 '20160426WONC0',
 '20160428WONC0',
 '20160429SKWO0',
 '20160430SKWO0',
 '20160501SKWO0',
 '20160503WOSS0',
 '20160504WOSS0',
 '20160505WOSS0',
 '20160506HTWO0',
 '20160507HTWO0',
 '20160508HTWO0',
 '20160511WOLT0',
 '20160512WOLT0',
 '20160513OBWO0',
 '20160514OBWO0',
 '20160515OBWO0',
 '20160517NCWO0',
 '20160518NCWO0',
 '20160519NCWO0',
 '20160520WOLG0',
 '20160521WOLG0',
 '20160522WOLG0',
 '20160524HHWO0',
 '20160525HHWO0',
 '20160526HHWO0',
 '20160527WOKT0',
 '20160528WOKT0',
 '20160529WOKT0',
 '20160531SSWO0',
 '20160601SSWO0',
 '20160602SSWO0',
 '20160603WOHT0',
 '20160605WOHT0',
 '20160607WONC0',
 '20160608WONC0',
 '20160609WONC0',
 '20160610KTWO0',
 '20160611KTWO0',
 '20160612KTWO0',
 '20160614LTWO0',
 '20160615LTWO0',
 '20160616LTWO0',
 '20160617WOHH0',
 '20160618WOHH0',
 '20160619WOHH0',
 '20160621SSWO0',
 '20160622SSWO0',
 '20160623SSWO0',
 '20160624WOLG0',
 '20160625WOLG0',
 '20160626WOLG0',
 '20160628HHWO0',
 '20160629HHWO0',
 '20160630HHWO0',
 '20160701HTWO0',
 '20160702HTWO0',
 '20160703HTWO0',
 '20160706WOOB0',
 '20160707WOOB0',
 '20160708NCWO0',
 '20160709NCWO0',
 '20160710NCWO0',
 '20160712WOKT0',
 '20160713WOKT0',
 '20160714WOKT0',
 '20160719LGWO0',
 '20160720LGWO0',
 '20160721LGWO0',
 '20160722WOSK0',
 '20160723WOSK0',
 '20160724WOSK0',
 '20160726OBWO0',
 '20160727OBWO0',
 '20160728OBWO0',
 '20160729WOSS0',
 '20160803WOLT0',
 '20160804WOLT0',
 '20160805SKWO0',
 '20160806SKWO0',
 '20160807SKWO0',
 '20160809WOKT0',
 '20160810WOKT0',
 '20160811HTWO0',
 '20160812HTWO0',
 '20160813WOOB0',
 '20160814WOOB0',
 '20160816LTWO0',
 '20160817LTWO0',
 '20160818NCWO0',
 '20160819NCWO0',
 '20160820SSWO0',
 '20160821SSWO0',
 '20160824WOHH0',
 '20160825LGWO0',
 '20160826LGWO0',
 '20160827WONC0',
 '20160830WOSS0',
 '20160831WOSS0',
 '20160901SKWO0',
 '20160902SKWO0',
 '20160903HHWO0',
 '20160904HHWO0',
 '20160906WOLG0',
 '20160907WOLG0',
 '20160908WOSK0',
 '20160909WOSK0',
 '20160910OBWO0',
 '20160911OBWO0',
 '20160913WOHT0',
 '20160914WOHT0',
 '20160915KTWO0',
 '20160916KTWO0',
 '20160918WOLT0',
 '20160919WOLT0',
 '20160920WOHT0',
 '20160921WOHT0',
 '20160924WOSS0',
 '20160925WOSS0',
 '20160929WOOB0',
 '20161002WOHH0',
 '20161004WONC0',
 '20161005WONC0',
 '20161007WOLT0',
 '20161009WOLT0']

In [121]:
game_days = []
for key in game_keys:
    idx = pitchers_by_game[pitchers_by_game['게임키']==key].index.tolist()[0]
    date = pitchers_by_game.loc[idx]['일자']
    game_days.append(date)
game_days

['2016-04-01',
 '2016-04-02',
 '2016-04-03',
 '2016-04-05',
 '2016-04-06',
 '2016-04-07',
 '2016-04-08',
 '2016-04-09',
 '2016-04-10',
 '2016-04-12',
 '2016-04-13',
 '2016-04-14',
 '2016-04-15',
 '2016-04-17',
 '2016-04-19',
 '2016-04-20',
 '2016-04-21',
 '2016-04-22',
 '2016-04-23',
 '2016-04-24',
 '2016-04-26',
 '2016-04-28',
 '2016-04-29',
 '2016-04-30',
 '2016-05-01',
 '2016-05-03',
 '2016-05-04',
 '2016-05-05',
 '2016-05-06',
 '2016-05-07',
 '2016-05-08',
 '2016-05-11',
 '2016-05-12',
 '2016-05-13',
 '2016-05-14',
 '2016-05-15',
 '2016-05-17',
 '2016-05-18',
 '2016-05-19',
 '2016-05-20',
 '2016-05-21',
 '2016-05-22',
 '2016-05-24',
 '2016-05-25',
 '2016-05-26',
 '2016-05-27',
 '2016-05-28',
 '2016-05-29',
 '2016-05-31',
 '2016-06-01',
 '2016-06-02',
 '2016-06-03',
 '2016-06-05',
 '2016-06-07',
 '2016-06-08',
 '2016-06-09',
 '2016-06-10',
 '2016-06-11',
 '2016-06-12',
 '2016-06-14',
 '2016-06-15',
 '2016-06-16',
 '2016-06-17',
 '2016-06-18',
 '2016-06-19',
 '2016-06-21',
 '2016-06-22',
 '2016-06-23',
 '2016-06-24',
 '2016-06-25',
 '2016-06-26',
 '2016-06-28',
 '2016-06-29',
 '2016-06-30',
 '2016-07-01',
 '2016-07-02',
 '2016-07-03',
 '2016-07-06',
 '2016-07-07',
 '2016-07-08',
 '2016-07-09',
 '2016-07-10',
 '2016-07-12',
 '2016-07-13',
 '2016-07-14',
 '2016-07-19',
 '2016-07-20',
 '2016-07-21',
 '2016-07-22',
 '2016-07-23',
 '2016-07-24',
 '2016-07-26',
 '2016-07-27',
 '2016-07-28',
 '2016-07-29',
 '2016-08-03',
 '2016-08-04',
 '2016-08-05',
 '2016-08-06',
 '2016-08-07',
 '2016-08-09',
 '2016-08-10',
 '2016-08-11',
 '2016-08-12',
 '2016-08-13',
 '2016-08-14',
 '2016-08-16',
 '2016-08-17',
 '2016-08-18',
 '2016-08-19',
 '2016-08-20',
 '2016-08-21',
 '2016-08-24',
 '2016-08-25',
 '2016-08-26',
 '2016-08-27',
 '2016-08-30',
 '2016-08-31',
 '2016-09-01',
 '2016-09-02',
 '2016-09-03',
 '2016-09-04',
 '2016-09-06',
 '2016-09-07',
 '2016-09-08',
 '2016-09-09',
 '2016-09-10',
 '2016-09-11',
 '2016-09-13',
 '2016-09-14',
 '2016-09-15',
 '2016-09-16',
 '2016-09-18',
 '2016-09-19',
 '2016-09-20',
 '2016-09-21',
 '2016-09-24',
 '2016-09-25',
 '2016-09-29',
 '2016-10-02',
 '2016-10-04',
 '2016-10-05',
 '2016-10-07',
 '2016-10-09']

In [122]:
pitchers_by_game.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '선수명', '선발', '구원', '완투',
       '종료', '결과', '홀드', '이닝*3', '투구 수', '타자', '타수', '안타', '2루타', '3루타', '홈런',
       '도루', '도루실패', '희타', '희비', '4구', '고4', '사구', '삼진', '병살타', '폭투', '보크',
       '실책', '실점', '자책점', '득점권WHIP', '2점차이하WHIP', '345번타자WHIP'],
      dtype='object')

In [123]:
def get_pitcher_stat(player):
    print(player)
    player_games = pitchers_by_game[pitchers_by_game['선수명'] == player]
    player_games.reset_index(inplace=True, drop=True)
    stats = []
    for key in game_keys:
        if key in player_games['게임키'].values:
            idx = player_games[player_games['게임키']==key].index.tolist()[0]
            if idx == 0:
                result = []
                result.append(player_games.loc[idx]['선발'])
                result.append(player_games.loc[idx]['구원'])
                result += [0 for i in range(4)]
                stats.append(result)
            else:
                past = player_games.loc[:idx-1]
                era = past['자책점'].sum() / past['이닝*3'].sum() * 27
                whip = (past['안타'].sum() + past['4구'].sum()) / (past['이닝*3'].sum() / 3)
                if past['4구'].sum() == 0:
                    k_b = past['삼진'].sum()
                else:
                    k_b = past['삼진'].sum() / past['4구'].sum()
                aver_inning = (past['이닝*3'].sum() / 3) / len(past)
                result = []
                result.append(player_games.loc[idx]['선발'])
                result.append(player_games.loc[idx]['구원'])
                result += [era, whip, k_b, aver_inning]
                for i in range(len(result)):
                    if result[i] != result[i]:
                        result[i] = 0.0
                stats.append(result)
        else:
            if len(stats) == 0:
                stats.append([0, 0, 0, 0, 0, 0])
            else:
                same = stats[-1].copy()
                same[0] = 0
                same[1] = 0
                stats.append(same)
    return stats

In [124]:
team_pitcher_stats = pd.DataFrame()
team_pitcher_stats['date'] = game_days
team_pitcher_stats['game_key'] = game_keys


for player in p_list:
    p_stats = get_pitcher_stat(player)
    print(len(p_stats))
    team_pitcher_stats[player] = p_stats

김정훈
144
정회찬
144
박정준
144
밴헤켄
144
박종윤
144
한현희
144
신재영
144
조상우
144
신명수
144
하영민
144
김윤환
144
최원태
144
김택형
144
김해수
144
박주현
144
정용준
144
김정인
144
코엘로
144
맥그레거
144
안현석
144
유재훈
144
안정훈
144
이찬석
144
김성택
144
황덕균
144
마정길
144
오주원
144
금민철
144
이보근
144
양훈
144
김세현
144
김상수
144
강윤구
144
이정훈
144

<ipython-input-123-8051636cc5e1>:17: RuntimeWarning: invalid value encountered in long_scalars
  era = past['자책점'].sum() / past['이닝*3'].sum() * 27
<ipython-input-123-8051636cc5e1>:18: RuntimeWarning: divide by zero encountered in true_divide
  whip = (past['안타'].sum() + past['4구'].sum()) / (past['이닝*3'].sum() / 3)

In [125]:
team_pitcher_stats

,date,game_key,김정훈,정회찬,박정준,밴헤켄,박종윤,한현희,신재영,조상우,...,황덕균,마정길,오주원,금민철,이보근,양훈,김세현,김상수,강윤구,이정훈
0,2016-04-01,20160401LTWO0,"[0, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]",...,"[0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]"
1,2016-04-02,20160402LTWO0,"[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]",...,"[0, 0, 0, 0, 0, 0]","[0, 1, 0.0, 1.0, 1.0, 1.0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 1, 0.0, 1.0, 0, 1.0]","[0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]"
2,2016-04-03,20160403LTWO0,"[0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]",...,"[0, 0, 0, 0, 0, 0]","[0, 0, 0.0, 1.0, 1.0, 1.0]","[0, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0.0, 1.0, 0, 1.0]","[0, 0, 0, 0, 0, 0]","[0, 1, 18.0, 3.0, 0, 1.0]","[0, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]"
3,2016-04-05,20160405WOHH0,"[0, 1, 0.0, 2.0, 0.0, 1.0]","[0, 1, 13.5, 3.0, 0, 0.6666666666666666]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]",...,"[0, 0, 0, 0, 0, 0]","[0, 0, 0.0, 1.0, 1.0, 1.0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 1, 0.0, 1.5, 1.0, 1.0]","[1, 0, 0, 0, 0, 0]","[0, 0, 18.0, 3.0, 0, 1.0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]"
4,2016-04-06,20160406WOHH0,"[0, 0, 0.0, 2.0, 0.0, 1.0]","[0, 0, 13.5, 3.0, 0, 0.6666666666666666]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[1, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]",...,"[0, 0, 0, 0, 0, 0]","[0, 0, 0.0, 1.0, 1.0, 1.0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0.0, 1.5, 1.0, 1.0]","[0, 0, 0, 0, 0, 0]","[0, 1, 11.571428571428571, 2.142857142857143, ...","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,2016-10-02,20161002WOHH0,"[0, 0, 6.128834355828221, 1.6012269938650305, ...","[0, 0, 7.269230769230769, 1.9615384615384617, ...","[0, 0, 17.357142857142858, 2.571428571428571, ...","[0, 0, 3.3, 1.0166666666666666, 3.875, 6.0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[1, 0, 3.9293139293139294, 1.2536382536382535,...","[0, 0, 0, 0, 0, 0]",...,"[0, 0, 1.4210526315789473, 0.7105263157894737,...","[0, 0, 4.271186440677966, 1.576271186440678, 1...","[0, 1, 4.753521126760563, 1.3943661971830985, ...","[0, 0, 5.328947368421053, 1.7763157894736843, ...","[0, 0, 4.232432432432432, 1.4594594594594594, ...","[0, 0, 7.656716417910447, 2.029850746268657, 0...","[0, 1, 2.730337078651685, 1.196629213483146, 7...","[0, 1, 4.75, 1.5, 2.242424242424242, 1.1076923...","[0, 0, 0, 0, 0, 0]","[0, 0, 6.88235294117647, 2.0588235294117645, 1..."
140,2016-10-04,20161004WONC0,"[0, 0, 6.128834355828221, 1.6012269938650305, ...","[0, 0, 7.269230769230769, 1.9615384615384617, ...","[0, 0, 17.357142857142858, 2.571428571428571, ...","[0, 0, 3.3, 1.0166666666666666, 3.875, 6.0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 3.9293139293139294, 1.2536382536382535,...","[0, 0, 0, 0, 0, 0]",...,"[0, 0, 1.4210526315789473, 0.7105263157894737,...","[0, 0, 4.271186440677966, 1.576271186440678, 1...","[0, 1, 4.591836734693877, 1.346938775510204, 2...","[0, 0, 5.328947368421053, 1.7763157894736843, ...","[0, 1, 4.452127659574468, 1.4840425531914894, ...","[0, 0, 7.656716417910447, 2.029850746268657, 0...","[0, 1, 2.685082872928177, 1.1767955801104972, ...","[0, 0, 4.75, 1.5, 2.242424242424242, 1.1076923...","[0, 0, 0, 0, 0, 0]","[0, 0, 6.88235294117647, 2.0588235294117645, 1..."
141,2016-10-05,20161005WONC0,"[0, 1, 5.519337016574585, 1.5745856353591159, ...","[0, 0, 7.269230769230769, 1.9615384615384617, ...","[0, 0, 17.357142857142858, 2.571428571428571, ...","[0, 0, 3.3, 1.0166666666666666, 3.875, 6.0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 3.9293139293139294, 1.2536382536382535,...","[0, 0, 0, 0, 0, 0]",...,"[0, 1, 1.2272727272727273, 0.8181818181818182,...","[0, 1, 4.223463687150838, 1.5754189944134078, ...","[0, 0, 4.591836734693877, 1.346938775510204, 2...","[0, 0, 5.328947368421053, 1.7763157894736843, ...","[0, 0, 4.452127659574468, 1.4840425531914894, ...","[1, 0, 7.902439024390244, 2.048780487804878, 0...","[0, 0, 2.685082872928177, 1.1767955801104972, ...","[0, 0, 4.75, 1.5, 2.242424242424242, 1.1076923...","[0, 0, 0, 0, 0, 0]","[0, 0, 6.88235294117647, 2.0588235294117645, 1..."
142,2016-10-07,20161007WOLT0,"[0, 0, 5.519337016574585, 1.5745856353591159, ...","[0, 0, 7.269230769230769, 1.9615384615384617, ...","[0, 0, 17.357142857142858, 2.571428571428571, ...","[1, 0, 3.0895522388059704, 0.9850746268656716,...","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 3.9293139293139294, 1.2536382536382535,...","[0, 0, 0, 0, 0, 0]",...,"[0, 1, 2.934782608695652, 1.1739130434782608, ...","[0, 0, 4.223463687150838, 1.5754189944134078, ...","[0, 1, 4.5, 1.32, 2.235294117647059, 0.9259259...","[0, 0, 5.328947368421053, 1.7763157894736843, ...","[0, 0, 4.452127659574468, 1.4840425531914894, ...","[0, 0, 7.902439024390244, 2.048780487804878, 0...","[0, 0, 2.685082872928177, 1.1767955801104972, ...","[0, 1, 4.684931506849315, 1.4931506849315068, ...","[0, 0, 0, 0, 0, 0]","[0, 0, 6.88235294117647, 2.0588235294117645, 1..."
143,2016-10-09,20161009WOLT0,"[0, 1, 5.342245989304813, 1.5721925133689838, ...","[0, 0, 7.269230769230769, 1.9615384615384617, ...","[0, 0, 17.357142857142858, 2.571428571428571, ...","[0, 0, 3.0895522388059704, 0.9850746268656716,...","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[1, 0, 3.8571428571428568, 1.2494969818913482,...","[0, 0, 0, 0, 0, 0]",...,"[0, 0, 2.934782608695652, 1.1739130434782608, ...","[0, 1, 4.0864864864864865, 1.5243243243243243,...","[0, 0, 4.5, 1.32, 2.235294117647059, 0.9259259...","[0, 0, 5.328947368421053, 1.7763157894736843, ...","[0, 1, 4.382198952879581, 1.4921465968586387, ...","[0, 0, 7.902439024390244, 2.048780487804878, 0...","[0, 1, 2.641304347826087, 1.1576086956521738, ...","[0, 0, 4.684931506849315, 1.4931506849315068, ...","[0, 0, 0, 0, 0, 0]","[0, 0, 6.88235294117647, 2.0588235294117645, 1..."

In [126]:
team_pitcher_stats.to_csv('data_processed/2016/2016_WO_p.csv')

In [18]:
temp = pitchers_by_game[pitchers_by_game['선수명'] == '니퍼트']
temp

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,선수명,선발,구원,완투,...,삼진,병살타,폭투,보크,실책,실점,자책점,득점권WHIP,2점차이하WHIP,345번타자WHIP
0,20160401OBSS0,2016-04-01,OB,SS,0,T,니퍼트,1,0,0,...,5,1,0,0,0,1,1,1.500000,2.000000,3.000000
19,20160408WOOB0,2016-04-08,OB,WO,0,B,니퍼트,1,0,0,...,11,1,2,0,0,2,2,1.000000,1.500000,2.000000
41,20160414OBHH0,2016-04-14,OB,HH,0,T,니퍼트,1,0,0,...,10,1,1,0,0,2,2,1.500000,0.000000,1.000000
56,20160420OBKT0,2016-04-20,OB,KT,0,T,니퍼트,1,0,0,...,11,0,1,0,0,4,4,1.500000,2.700000,5.000000
73,20160426SKOB0,2016-04-26,OB,SK,0,B,니퍼트,1,0,0,...,6,0,2,0,0,1,1,1.500000,1.666667,1.500000
89,20160501OBHT0,2016-05-01,OB,HT,0,T,니퍼트,1,0,0,...,3,1,0,0,0,1,0,1.000000,1.000000,0.375000
108,20160507LTOB0,2016-05-07,OB,LT,0,B,니퍼트,1,0,0,...,9,0,0,0,0,2,2,2.000000,1.200000,0.857143
131,20160513OBWO0,2016-05-13,OB,WO,0,T,니퍼트,1,0,0,...,5,1,2,0,0,4,4,1.750000,2.785714,1.000000
163,20160522OBLT0,2016-05-22,OB,LT,0,T,니퍼트,1,0,0,...,6,0,0,0,0,7,7,2.571429,2.100000,3.000000
184,20160528LGOB0,2016-05-28,OB,LG,0,B,니퍼트,1,0,0,...,8,1,0,0,0,0,0,0.428571,0.750000,1.500000
213,20160609OBKT0,2016-06-09,OB,KT,0,T,니퍼트,1,0,0,...,3,0,0,0,0,4,4,1.285714,1.227273,1.714286
233,20160615OBHT0,2016-06-15,OB,HT,0,T,니퍼트,1,0,0,...,3,0,0,0,0,3,3,1.500000,1.000000,1.800000
252,20160621KTOB0,2016-06-21,OB,KT,0,B,니퍼트,1,0,0,...,7,0,0,0,0,0,0,0.000000,0.000000,0.000000
270,20160628NCOB0,2016-06-28,OB,NC,0,B,니퍼트,1,0,0,...,1,2,0,0,0,2,1,1.333333,2.200000,1.714286
284,20160706WOOB0,2016-07-06,OB,WO,0,B,니퍼트,1,0,0,...,2,1,0,0,0,3,3,1.000000,0.800000,2.000000
305,20160712OBNC0,2016-07-12,OB,NC,0,T,니퍼트,1,0,0,...,2,2,0,0,0,2,2,0.500000,0.000000,0.375000
325,20160722OBLG0,2016-07-22,OB,LG,0,T,니퍼트,1,0,0,...,4,0,0,0,0,1,1,1.000000,0.333333,1.000000
347,20160728OBWO0,2016-07-28,OB,WO,0,T,니퍼트,1,0,0,...,2,0,0,0,0,4,1,2.000000,6.000000,3.000000
400,20160809HTOB0,2016-08-09,OB,HT,0,B,니퍼트,1,0,0,...,4,0,0,0,0,1,1,0.000000,0.000000,1.000000
421,20160814WOOB0,2016-08-14,OB,WO,0,B,니퍼트,1,0,0,...,3,0,0,0,0,1,1,0.000000,0.000000,0.750000
439,20160820NCOB0,2016-08-20,OB,NC,0,B,니퍼트,1,0,0,...,4,2,0,0,0,3,3,3.000000,2.000000,2.400000
454,20160826LTOB0,2016-08-26,OB,LT,0,B,니퍼트,1,0,0,...,4,0,0,0,0,3,3,1.500000,2.000000,2.500000
469,20160901KTOB0,2016-09-01,OB,KT,0,B,니퍼트,1,0,1,...,6,0,0,0,0,0,0,0.000000,0.333333,0.333333
487,20160907OBLT0,2016-09-07,OB,LT,0,T,니퍼트,1,0,0,...,9,0,0,0,0,4,4,1.500000,1.800000,0.375000
511,20160913SKOB0,2016-09-13,OB,SK,0,B,니퍼트,1,0,0,...,5,0,0,0,0,2,2,0.600000,1.571429,2.500000
532,20160918OBKT0,2016-09-18,OB,KT,0,T,니퍼트,1,0,0,...,4,0,0,0,0,0,0,0.500000,0.000000,1.000000
546,20160927OBHH0,2016-09-27,OB,HH,0,T,니퍼트,1,0,0,...,4,0,0,0,0,3,3,2.250000,0.000000,1.000000
573,20161008OBLG0,2016-10-08,OB,LG,0,T,니퍼트,0,1,0,...,1,0,0,0,0,1,0,1.000000,0.000000,3.000000